$font-size-h1: 2.25rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.375rem;
$font-size-h6: 1.125rem;

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-sans;

  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

