{{#if @labs.subscribers}}
<div class="post-newsletter u-marginAuto u-textAlignCenter u-marginBottom20">
    <h5 class="newsletter-title u-fontSize28 u-fontWeightBold u-marginBottom15">{{t "Sign up for my newsletter!"}}</h5>
    <div class="newsletter-description u-fontSizeSmall" style="color: #5f5f5f">{{t "Get the latest posts delivered right to your inbox"}}</div>

    {{subscribe_form
    form_class="simply-subscribe-tracking newsletter-form u-marginAuto u-flex u-paddingTop30 u-paddingBottom20"
    input_class="form--input u-block u-fontSize20"
    button_class="form--btn u-relative u-overflowHidden u-fontSizeLarge i-send"
    placeholder=(t "Your email address")
    autofocus=""
    }}
</div>
{{/if}}
