<footer class="footer u-fontSizeSmaller u-fontWeightSemibold u-paddingTop20 {{#is "tag, author, post"}}u-backgroundWhite{{/is}}">
    <div class="u-container u-maxWidth1000">

        {{!-- follow Me --}}
        {{>"widget-follow"}}

        <div class="footer-wrap u-paddingBottom20 u-paddingTop20 u-textAlignCenter">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>
            Design with <i class="i-favorite animated infinite pulse" style="color:red;display:inline-block"></i> by <a href="https://goo.gl/Jf1tZe" target="_blank" title="Developer FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</footer>
