<footer class="footer u-fontSizeSmaller u-fontWeightSemibold u-paddingTop20 {{#is "post"}}u-bgWhite{{/is}}">
    <div class="u-container u-maxWidth1000">

        {{!-- Social Media - partilas/widget/social-media.hbs --}}
        {{> "widget/social-media"}}

        <div class="footer-wrap u-paddingBottom20 u-paddingTop20 u-textAlignCenter">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
            Design with <svg class="icon animated infinite pulse" style="color:red;width:15px"><use xlink:href="#icon-favorite"></use></svg> by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</footer>
