<div class="site-post py-vmin8 px-4">
    <div class="js-feed-entry mx-auto max-w-1100 grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{#foreach posts}}
            {{> "story/story-grid"}}
        {{/foreach}}
    </div>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>