<div class="site-post site-post-bg feed-entry-content u-paddingTop30">
    <div class="container feed-entry-wrap">
        <div class="row">
            {{#foreach posts}}
                <div class="col s12 m6 l4">{{> "story/story-grid"}}</div>
            {{/foreach}}
        </div>
    </div>
</div>