{{!-- Navigation template --}}
<ul class="u-unstyled">
    {{#foreach navigation}}
        <li><a href="{{url absolute="true"}}" class="navigation-link u-fontSize15 u-fontWeightSemibold u-textUppercase u-block {{#if current}}active{{/if}}">{{label}}</a></li>
    {{/foreach}}
</ul>
