{{!-- Navigation template --}}
<ul class="u-unstyled u-flex1">
    {{#foreach navigation}}
        <li class="simply-tracking" data-event-category="Header" data-event-action="Menu" data-event-label="{{label}}" data-event-non-interaction="1">
            <a href="{{url absolute="true"}}" class="navigation-link u-fontSize15 u-fontWeightSemibold u-block {{#if current}}active{{/if}}">{{label}}</a>
        </li>
    {{/foreach}}
</ul>
