{{!-- Navigation template --}}
{{#foreach navigation}}
    <li {{^is "amp"}} class="godo-tracking"
        data-event-category="Header"
        data-event-action="Menu"
        data-event-label="{{label}}"
        data-event-non-interaction="true"
        itemprop="name"
        role="menuitem"{{/is}}>
        <a href="{{url absolute="true"}}" class="navigation-link u-fontSize15 u-fontWeightSemibold u-block {{#if current}}active{{/if}}" {{^is "amp"}}itemprop="url"{{/is}}>{{label}}</a>
    </li>
{{/foreach}}

