<div class="u-backgroundWhite u-paddingTop30 u-paddingBottom30">
    <div class="u-container u-maxWidth1000 u-card">
        {{!-- Facebook Commets --}}
        <div class="fb-comments simply-facebook" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
        {{!-- Disqus Comments --}}
    </div>
</div>
