{{!-- Search --}}
<div class="search u-absolute0 u-fixed">
    <a href="#" class="search-toggle button button--large button--chromeless i-close u-fontSizeLarge" style="position:absolute!important;right:50px;top:20px"></a>

    <form class="search-form u-relative u-sizeFullWidth u-marginAuto u-marginBottom20">
        <input id="search-field" class="u-sizeFullWidth u-md-fontSizeBase u-fontSize40 u-fontWeightSemibold" type="text" placeholder="{{t "Search"}}..." />
    </form>

    <div id="searchResults" class="search-results u-marginAuto u-sizeFullWidth"></div>
</div>
