{{!-- Search --}}
<div class="search u-absolute0 u-fixed">
    <a href="#" class="button-search--close button button--large button--chromeless i-close u-fontSizeLarge"></a>

    <form action="" class="search-form u-relative u-sizeFullWidth u-marginAuto u-marginBottom20">
        <input id="search-field" class="u-sizeFullWidth u-md-fontSizeBase u-fontSize40 u-fontWeightSemibold" type="text" placeholder="Search..." />
    </form>

    <div id="searchResults" class="search-results u-marginAuto u-sizeFullWidth"></div>
</div>
