<aside class="sidebar col s12 sidebar-sticky u-hide-before-md">
    {{!-- Sidebar Content Optional --}}
    {{!-- <div class="sidebar-items u-marginBottom30">
        <h3 class="sidebar-title u-fontSizeBase u-textColorDarker">Bienvenidos</h3>
        <p class="u-textColorDarker u-fontSize15 u-marginBottom10">
            It’s time to get more from what you read. Find and share real perspectives about topics that matter today.
        </p>
    </div> --}}

    {{!-- Add Post Recents --}}
    {{#get "posts" limit="5" as |recents| }}
        {{> "sidebar-post" widgetTitle=(t "Latest Articles") widgetPosts=recents }}
    {{/get}}

    {{!-- Tags Cloud --}}
    {{> "sidebar-tags"}}

    {{!-- this is Book  --}}
    {{!-- <div class="sidebar-items u-marginBottom30">
        <h3 class="sidebar-title u-fontSizeBase u-textColorDarker">.. your title ..</h3>
        <p class="u-textColorDarker u-fontSize15 u-marginBottom10"> .. your Content .. </p>
    </div> --}}
</aside>
