<aside class="sideNav u-fixed u-absolute0 u-hide-after-lg u-bgheader">
    <div class="sideNav-wrap u-absolute0">
        {{!-- Menu --}}
        <nav class="sideNav-menu sideNav-section">
            {{navigation}}
        </nav>

        <div class="sideNav-section">
            {{!-- Social Media - partilas/widget/social-media.hbs --}}
            {{> "widget/social-media"}}
        </div>

        <div class="sideNav-copyright u-textMuted u-fontSizeSmaller u-textAlignCenter u-paddingTop20 u-paddingLeft20 u-paddingRight20">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> Design by <a href="https://goo.gl/Jf1tZe" title="Developer Web FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</aside>
