{{!-- Follow social media --}}
<aside class="follow follow-box u-fontSize20 u-flex u-hide-before-md">
    {{#if @blog.facebook}}<a title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank" class="i-facebook"></a>{{/if}}
    {{#if @blog.twitter}}<a title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank" class="i-twitter"></a>{{/if}}
</aside>
