{{!-- Follow social media --}}
<aside class="follow follow-box u-fontSize20 u-flex u-hide-before-md">
    {{#if @blog.facebook}}<a class="simply-tracking i-facebook" data-event-category="FollowMe" data-event-action="Social" data-event-label="Facebook" data-event-non-interaction="1" title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank"></a>{{/if}}
    {{#if @blog.twitter}}<a class="simply-tracking i-twitter" data-event-category="FollowMe" data-event-action="Social" data-event-label="Twitter" data-event-non-interaction="1" title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank"></a>{{/if}}
</aside>
