// animated Global
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }
}

// animated All
.bounceIn { animation-name: bounceIn; }
.bounceInDown { animation-name: bounceInDown; }
.pulse { animation-name: pulse; }

// all keyframes Animates
// bounceIn
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% { animation-timing-function: cubic-bezier(.215, .61, .355, 1); }
  0% { opacity: 0; transform: scale3d(.3, .3, .3); }
  20% { transform: scale3d(1.1, 1.1, 1.1); }
  40% { transform: scale3d(.9, .9, .9); }
  60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
  80% { transform: scale3d(.97, .97, .97); }
  100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

// bounceInDown
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% { animation-timing-function: cubic-bezier(215, 610, 355, 1); }
  0% { opacity: 0; transform: translate3d(0, -3000px, 0); }
  60% { opacity: 1; transform: translate3d(0, 25px, 0); }
  75% { transform: translate3d(0, -10px, 0); }
  90% { transform: translate3d(0, 5px, 0); }
  100% { transform: none; }
}

@keyframes pulse {
  from { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.2, 1.2, 1.2); }
  to { transform: scale3d(1, 1, 1); }
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { opacity: 1; transform: translateY(0) }
  100% { opacity: 0; transform: translateY(10px); }
}

@keyframes opacity {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

//  spin for pagination
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes tooltip {
  0% { opacity: 0; transform: translate(-50%, 6px); }
  100% { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes loading-bar {
  0% { transform: translateX(-100%) }
  40% { transform: translateX(0) }
  60% { transform: translateX(0) }
  100% { transform: translateX(100%) }
}
