// entry by line
.entry {

  &-author {
    display: table-cell;
    line-height: 1.4;
    padding-left: 10px;
    vertical-align: middle;

    a { @extend %link, %link--accent;}
  }

  // author avatar
  &-avatar { display: table-cell; }
  &-avatar--img {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    &.no-avatar { background-image: url('../../images/avatar.png')}
  }

  // image
  &-image--link {
    .noImage {
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 10;
    }
  }
}
