// entry by line
.entry {

  &-author {
    display: table-cell;
    line-height: 1.4;
    padding-left: 10px;
    vertical-align: middle;

    a { @extend %link, %link--accent;}
  }

  // author avatar
  &-avatar { display: table-cell; }
  &-avatar--img {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    &.no-avatar { background-image: url('../../images/avatar.png')}
  }

  // not has image
  &.not--image {
    color: rgba(0, 0, 0, .8);
  }

}


// entry Global
.entry.u-card {
  .entry-image--link {
    max-height: 240px;
    max-width: 360px;
  }
}

// if post is featured
.entry.entry--featured {
  .entry-body { display: flex; flex-direction: column;}
  .entry-image--link {max-width: 100%; max-height: 185px;}
  .entry-image {
    margin-bottom: 20px;
    margin-top: 5px;
    order: -1;
  }

  .entry-img {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

}


// even entry
.entry.entry--featured,
.entry.even:not(.entry--featured) {
  .entry-excerpt {
    color: rgba(0, 0, 0, .44);
    font-family: $primary-font;
    font-size: 23px;
    letter-spacing: -.022em;
    line-height: 1.22;
  }
}
