// Featured home page
// ==========================================================================
.featured {
  padding-bottom: 33%;

  .entry {
    color: #fff;
    margin: 0;
    transition: width .5s;
    width: 50%;

    &-title {font-size: 32px !important;}

    &.entry2 {
      border-left: solid 1px #fff;
      border-right: solid 1px #fff;
    }

    &-image {height: 100%;}

    &:not(.first) {
      flex-grow: 1;
      width: 25%;

      .entry-byline,
      .entry-excerpt {display: none;}
    }

    &:not(.not--image) {
      .entry-author {
        color: rgba(255, 255, 255, .9);
        a, .entry-date {color: rgba(255, 255, 255, .9); }
      }
    }

    &-body { @extend %content-absolute-bottom;}
  }
}


@media #{$lg-and-down}  {
  .featured {
    padding: 0;

    &-wrap { display: block; position: relative}
    .entry {width: 100% !important;}
    .entry-image {height: 350px;}
    .entry-excerpt {display: none;}
    .entry-title {font-size: 24px !important;}
    .entry-byline {display: flex !important;}
    .entry.entry2 {border: 0}
  }
}
