// Home Page Styles
// ==========================================================================

.homePage {
  .entry {
    .u-backgroundDark {display: none;}
    &-image {height: 170px;}
  }
}



@media #{$md-and-up} {
  .homePage {
    .entry {
      &-image { height: 270px; }

      &.entry5, &.entry6, &.entry7, &.entry11, &.entry12, &.entry13 {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
        .entry-image { height: 170px;}
      }

      &.entry8 {
        display: flex;
        flex-basis: 100%;
        max-width: 100%;

        .entry-image {
          height: 350px;
          margin-right: 15px;
          width: 66.66666667% !important;
        }
        .entry-title {font-size: 36px !important}
        .entry-body {
          padding: 0 0 0 13px;
          width: 33.33333333% !important;
        }
      }
    }
  }
}
