@font-face {
  font-family: 'simply';
  src:  url('../fonts/simply.eot?eso605');
  src:  url('../fonts/simply.eot?eso605#iefix') format('embedded-opentype'),
    url('../fonts/simply.ttf?eso605') format('truetype'),
    url('../fonts/simply.woff?eso605') format('woff'),
    url('../fonts/simply.svg?eso605#simply') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"]::before, [class*=" i-"]::before {
  @extend %fonts-icons;
}


.i-telegram:before {
  content: "\f2c6";
}
.i-link:before {
  content: "\f0c1";
}
.i-reddit:before {
  content: "\f281";
}
.i-twitter:before {
  content: "\f099";
}
.i-github:before {
  content: "\f09b";
}
.i-linkedin:before {
  content: "\f0e1";
}
.i-code:before {
  content: "\f121";
}
.i-youtube:before {
  content: "\f16a";
}
.i-stack-overflow:before {
  content: "\f16c";
}
.i-instagram:before {
  content: "\f16d";
}
.i-flickr:before {
  content: "\f16e";
}
.i-dribbble:before {
  content: "\f17d";
}
.i-behance:before {
  content: "\f1b4";
}
.i-spotify:before {
  content: "\f1bc";
}
.i-codepen:before {
  content: "\f1cb";
}
.i-facebook:before {
  content: "\f230";
}
.i-pinterest:before {
  content: "\f231";
}
.i-whatsapp:before {
  content: "\f232";
}
.i-snapchat:before {
  content: "\f2ac";
}
.i-comments:before {
  content: "\e900";
}
.i-location:before {
  content: "\e8b4";
}
.i-save:before {
  content: "\e8e6";
}
.i-save--line:before {
  content: "\e8e7";
}
.i-check-circle:before {
  content: "\e86c";
}
.i-close:before {
  content: "\e5cd";
}
.i-favorite:before {
  content: "\e87d";
}
.i-star:before {
  content: "\e838";
}
.i-warning:before {
  content: "\e002";
}
.i-rss:before {
  content: "\e0e5";
}
.i-search:before {
  content: "\e8b6";
}
.i-send:before {
  content: "\e163";
}
.i-share:before {
  content: "\e80d";
}
