.post {
  &-title {
    line-height: 1.04;
  }

  &-footer {
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
}


// post content body
// ==========================================================================
.post-body {
  a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 0 1.07em;
    background-repeat: repeat-x;
    background-size: 2px .1em;
    text-decoration: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    font-weight: 700;
    font-style: normal;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -.03em;
    line-height: 1.04;
    margin-top: 54px;
  }

  h3 {
    font-size: 32px;
    letter-spacing: -.02em;
    line-height: 1.15;
    margin-top: 52px;
  }

  h4 {
    font-size: 24px;
    letter-spacing: -.018em;
    line-height: 1.22;
    margin-top: 30px;
  }

  p {
    font-family: $secundary-font;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -.003em;
    line-height: 1.58;
    margin-top: 28px;
  }

  &> p:first-of-type:first-letter {
    float: left;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: .83;
    margin-bottom: -.08em;
    margin-left: -5px;
    margin-right: 7px;
    padding-top: 7px;
    text-transform: uppercase;
  }

  ul,
  ol {
    counter-reset: post;
    font-family: $secundary-font;
    font-size: 21px;
    margin-top: 20px;

    li {
      letter-spacing: -.003em;
      line-height: 1.58;
      margin-bottom: 14px;
      margin-left: 30px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -78px;
        position: absolute;
        text-align: right;
        width: 78px;
      }
    }
  }

  ul li::before {
    content: '•';
    font-size: 16.8px;
    padding-right: 15px;
    padding-top: 4px;
  }

  ol li::before {
    content: counter(post) ".";
    counter-increment: post;
    padding-right: 12px;
  }

  .twitter-tweet,
  iframe {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 40px !important;
  }

  .video-responsive iframe { margin-top: 0 !important}

}


// post Tags
// ==========================================================================
.post-tags {
  a {
    background: rgba(0, 0, 0, .08);
    border: none;
    border-radius: 3px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 8px;
    margin-right: 8px;
    &:hover {
      background: rgba(0, 0, 0, .1);
      color: rgba(0, 0, 0, .6);
    }
  }
}

// post Newsletter
// ==========================================================================

.post-newsletter {
  max-width: 520px;
  .newsletter-form {max-width: 400px}

  .form-group { width: 80%; padding-right: 5px; }
  .form--input {
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 48px;
    padding: 6px 12px 8px 5px;
    resize: none;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
  .form--btn {
    background-color: #a9a9a9;
    border-radius: 0 45px 45px 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
    width: 20%;

    &::before {
      @extend %u-absolute0;
      background-color: #a9a9a9;
      border-radius: 0 45px 45px 0;
      line-height: 45px;
      z-index: 2;
    }

    &:hover {opacity: .8; }
    &:focus { outline: 0; }
  }
}


// post Relative
// ==========================================================================
.post-related {
  .entry-image {
    border-bottom: 1px solid rgba(0, 0, 0, .0785);
    border-radius: 4px 4px 0 0;
    height: 150px;
  }

  .entry-title {
    color: rgba(0,0,0,.9);
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box!important;
    line-height: 1.1 !important;
    max-height: 2.2em !important;
    text-overflow: ellipsis !important;
  }

  .u-card {
    height: 240px;
  }
}


// Share Post
// ==========================================================================
.sharePost {
  margin-left: -130px;
  margin-top: 28px;
  width: 45px;

  a {
    background-image: none;
    border-radius: 5px;
    color: #fff;
    height: 36px;
    line-height: 20px;
    margin: 10px auto;
    padding: 8px;
    text-decoration: none;
    width: 36px;
  }
}

// Post Actions
// ==========================================================================
.postActions {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .44);
  height: 44px;
  left: 0;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  transition: transform .3s;
  visibility: hidden;
  z-index: 500;

  &.is-visible {
    transform: translateY(0);
    transition-delay: 0s;
    visibility: visible;
  }

  &-wrap {max-width: 1200px;}

  .separator {
    background: rgba(0, 0, 0, .15);
    height: 24px;
    margin: 0 15px;
    width: 1px;
  }
}

.nextPost {
  max-width: 260px;
}



@media #{$md-and-down} {

  .post-body {

    h2 {
      font-size: 32px;
      margin-top: 26px;
    }

    h3 {
      font-size: 28px;
      margin-top: 28px;
    }

    h4 {
      font-size: 22px;
      margin-top: 22px;
    }

    q {
      font-size: 22px !important;
      letter-spacing: -.008em !important;
      line-height: 1.4 !important;
    }

    &> p:first-of-type:first-letter {
      font-size: 54.85px;
      margin-left: -4px;
      margin-right: 6px;
      padding-top: 3.5px;
    }

    ol , ul, p {
      font-size: 18px;
      letter-spacing: -.004em;
      line-height: 1.58;
    }
  }
}
