<article class="story-cover relative overflow-hidden">
    <figure class="story-cover-image relative u-bgDark block overflow-hidden">
        <a href="{{url}}" class="block h-full">
            {{!-- Featured Media - partials/components/media-cover.hbs --}}
            {{> "components/media-cover" background=feature_image has_gradient=true alt_title=title}}
        </a>

        {{!-- Primary Tag- partials/components/primary-tag.hbs --}}
        {{#if primary_tag}}<div class="absolute right-0 top-0 z-4">{{> "components/primary-tag"}}</div>{{/if}}
    </figure>

    <div class="story-cover-body absolute left-0 right-0 bottom-0 z-3 m-6 lg:m-8">
        {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
        {{!-- {{> "components/datetime" class="story-date u-marginBottom10 u-fontSize15 u-lineHeight1"}} --}}

        {{!-- Title --}}
        <h2 class="story-title text-3xl font-bold text-white font-sans leading-tight lg:text-32 mb-4">
            <a href="{{url}}" class="block">{{title}}</a>
        </h2>

        {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
        {{> "components/author-meta"}}
    </div>
</article>