<article class="portfolio-card js-filter-items relative overflow-hidden rounded-sm flex items-center justify-center h-96 has-overlay" {{#if primary_tag}}data-id="{{primary_tag.slug}}"{{/if}}>
    <a href="{{url}}">
        {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
        {{> "components/featured-image" mediaImage=feature_image mediaAlt=feature_image_alt mediaSize="m" mediaLazy=true}}

        <div class="portfolio-card-body relative text-white z-4 text-center px-4 py-16 overlay-toggle">
            <h2 class="text-xl capitalize font-medium mb-4">{{title}}</h2>
            <div class="tracking-wide"><span class="button text-sm is-primary">{{t "View Project"}}</span></div>
        </div>

        <div class="portfolio-card-bg absolute inset-0 z-2 bg-black bg-opacity-80 overlay-toggle"></div>
    </a>
</article>