.button {
  @extend %control;
  /* @extend %font-sans; */

  user-select: none;
  background-color: var(--button-bg);
  border-color: transparent;
  border-width: 1px;
  color: var(--button-color);
  cursor: pointer;
  justify-content: center;
  padding: 0 .875em;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;

  &:hover{
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
  }

  & > .icon {
    &,
    &.is-small,
    &.is-medium {
      height: 1.5em;
      width: 1.5em;
    }

    &:first-child:last-child {
      margin-left: calc(-.5em - 1px);
      margin-right: calc(-.5em - 1px);
    }

    &:first-child:not(:last-child) {
      margin-left: calc(-.5em - 1px);
      margin-right: .25em;
    }
  }
}

.button.is-white {
  background-color: var(--button-white-bg);
  color: var(--button-white-color);

  &:hover {
    background-color: var(--button-white-hover-bg);
    color: var(--button-white-hover-color);
  }
}

.button.is-primary {
  background-color: var(--ghost-accent-color);
  color: #fff;

  &:hover {
    opacity: .92;
  }
}

.button.is-black {
  background-color: #191919;
  color: #fff;
}

/* circle */
.button.is-circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  line-height: 2.125rem;
  padding: 0;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .button {
    margin-bottom: 0.5rem;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
