$input-background: hsl(0, 0%, 96%);

$input-focus-box-shadow-size: 0 0.625rem 1.25rem;

$input-focus-box-shadow-color: rgba(0, 0, 0, .1);

$input-disabled-background-color: $input-background;
$input-disabled-border-color: $input-background;
$input-disabled-color: rgba(117, 117, 117, 0.3);
$input-disabled-placeholder-color: rgba(117, 117, 117, 0.3);

$input-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);

$textarea-padding: $control-padding-horizontal;
$textarea-max-height: 40em;
$textarea-min-height: 8em;

%input {
  @extend %control;

  background-color: var(--input-bg);
  border-color: var(--input-border-color);
  color: var(--input-color);

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:hover {
    border-color: var(--input-hover-border-color);
  }

  &:focus,
  &:active {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }

  &[disabled],
  fieldset[disabled] & {
    background-color: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
    box-shadow: none;
    color: $input-disabled-color;

    &::placeholder {
      color: $input-disabled-placeholder-color;
    }
  }
}

%input-textarea {
  @extend %input;

  box-shadow: $input-shadow;
  max-width: 100%;
  width: 100%;

  &[readonly] {
    box-shadow: none;
  }
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"] {
  @extend %input-textarea;
}

textarea {
  @extend %input-textarea;

  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: $textarea-padding;
  resize: vertical;

  &:not([rows]) {
    max-height: $textarea-max-height;
    min-height: $textarea-min-height;
  }

  &[rows] {
    height: initial;
  }
}
