$icon-dimensions: 1.5rem;
$icon-dimensions-small: 1rem;
$icon-dimensions-medium: 1.25rem;
$icon-dimensions-large: 3rem;

.icon {
  display: inline-block;
  fill: currentColor;
  height: $icon-dimensions;
  stroke-width: 0;
  vertical-align: middle;
  width: $icon-dimensions;

  &.is-stroke {
    fill: none;
    stroke: currentColor;
  }

  &.is-small {
    height: $icon-dimensions-small;
    width: $icon-dimensions-small;
  }

  &.is-medium {
    height: $icon-dimensions-medium;
    width: $icon-dimensions-medium;
  }
}
