<footer class="footer-light py-10 lg:pt-16 text-center lg:text-left {{#is "post"}}bg-gray-150{{/is}}">
    <div class="mx-auto max-w-extreme px-4">
        <div class="flex flex-col lg:flex-row justify-between">
            {{!-- Copy Right --}}
            <div class="footer-copy text-sm order-3 mt-8 flex-none lg:text-left lg:order-none lg:mt-0">
                &copy; {{date format="YYYY"}} {{@site.title}}. All rights reserved.
                <div class="mt-2">
                    Design with
                    <svg class="icon animated infinite pulse" style="color:red;width:15px"><use xlink:href="#icon-heart"></use></svg>
                    by
                    <a href="https://godofredo.ninja" class="hover:text-primary" title="Developer FullStack.">@GodoFredoNinja</a>
                </div>
            </div>

            {{!-- Footer Menu --}}
            {{#if @site.secondary_navigation}}<div class="mx-8">{{navigation type="secondary"}}</div>{{/if}}

            {{!-- Social Media - partilas/widget/social-media.hbs --}}
            {{> "widget/social-media" class="footer-social-media mt-8 flex-none lg:mt-0 is-inline"}}

        </div>

    </div>
</footer>