<footer class="footer-light py-10 lg:pt-16 text-center {{#is "post"}}bg-gray-100{{/is}}">
    <section class="px-4 mx-auto max-w-extreme grid gap-8 lg:grid-cols-2 lg:text-right">
        {{!-- Social Media - partilas/widget/social-media.hbs --}}
        {{> "widget/social-media" class="footer-social-media"}}

        {{!-- Copy Right - partilas/components/copyright.hbs --}}
        {{> "components/copyright"}}
    </section>
</footer>