<footer class="footer-light py-10 lg:pt-16 text-center{{#is "post"}} bg-gray-100{{/is}}">
    <div class="grid gap-8 px-4 mx-auto max-w-extreme {{#if @site.secondary_navigation}}lg:grid-cols-fr-auto-fr{{else}}lg:grid-cols-2{{/if}}">
        {{!-- Footer Menu --}}
        {{#if @site.secondary_navigation}}{{navigation type="secondary"}}{{/if}}

        {{!-- Social Media - partilas/widget/social-media.hbs --}}
        {{> "widget/social-media" class="footer-social-media min-w-60 lg:text-right"}}

        {{!-- Copy Right - partilas/components/copyright.hbs --}}
        {{> "components/copyright"}}
    </div>
</footer>