{{!-- Search --}}
<div class="search u-absolute0 u-fixed">
    {{!-- <a href="#" class="search-toggle sa-close i-close u-absolute"></a> --}}
    <div class="search-close sa-close u-absolute zindex4">
        <span class="sa-close--left"></span>
        <span class="sa-close--right"></span>
    </div>

    <form class="search-form u-relative u-sizeFullWidth u-marginAuto u-marginBottom20">
        <input id="search-field" class="u-sizeFullWidth u-md-fontSizeBase i-search" type="text" placeholder="{{t "Search"}}..." />
    </form>

    <div id="searchResults" class="search-results u-marginAuto u-sizeFullWidth"></div>
</div>
