{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-standard",
  ],
  "rules": {
    "selector-class-pattern": null,
    "number-leading-zero": null
  }
}
