{{!-- Layout --}}
{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}archive-contact{{/contentFor}}

<article class="container u-paddingTop30 animated bounceInUp u-relative u-marginBottom40">
    {{#post}}
        <header class="u-marginAuto u-maxWidth740 u-marginBottom40 u-paddingBottom10 u-textAlignCenter">
            <h1 class="u-marginBottom30 u-fontSize22 u-fontWeightNormal u-textMuted u-underline">{{title}}</h1>
            {{#if custom_excerpt}}<p class="u-fontSizeLarger u-contentTitle u-md-fontSizeLarger">{{custom_excerpt}}</p>{{/if}}
        </header>

        {{!-- Content --}}
        {{content}}
    {{/post}}
</article>