{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article has-cover is-head-transparent{{/contentFor}}

<article class="post mb-10 relative">
    <header class="custom-post-image post-header relative simply-hero-cover bg-dark min-h-lg lg:min-h-screen py-16 flex flex-col justify-center">

        <div class="mx-auto godo-canvas py-vmin8 relative z-3">
            {{#if primary_tag}}
            <div class="mb-3 text-white tracking-wider text-sm">
                {{#primary_tag}}<a class="uppercase hover:underline" href="{{url}}">{{name}}</a>{{/primary_tag}}
            </div>
            {{/if}}

            <h1 class="post-title mb-5 text-white text-4xl lg:text-5xl leading-tight">{{title}}</h1>
            {{#if custom_excerpt}}<p class="post-excerpt mb-8 text-2xl text-white leading-snug">{{custom_excerpt}}</p>{{/if}}

            {{!-- [Author, DateTime, Reading Time] - ./partials/components/author-meta.hbs --}}
            {{> "components/author-meta"}}
        </div>

        {{!-- Featured Media - partials/components/media-cover.hbs --}}
        {{> "components/media-cover" background=feature_image has_gradient=true alt_title=title}}
    </header>

    {{!-- Article Body - partials/article/article-body.hbs --}}
    {{> "article/article-body"}}
</article>
{{/post}}

{{!-- 6 Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Post Commets - partials/article/article-comments.hbd --}}
{{#post}}{{> "article/article-comments"}}{{/post}}