{{!-- Layout --}}
{{!< default}}

{{#contentFor "special_body_class"}}is-subscribe{{/contentFor}}

{{#post}}

<article class="post ne">
    <header class="ne-h container animated bounceInUp">
        <div class="ne-inner u-maxWidth740 u-marginAuto u-relative u-flexColumnContentCenter u-flexCenter u-textAlignCenter">
            <h1 class="ne-t u-underline u-md-fontSize36">{{title}}</h1>
            {{#if custom_excerpt}}<p class="ne-e u-textMuted">{{custom_excerpt}}</p>{{/if}}
        </div>
    </header>

    <section class="ne-body u-relative u-container">
        <div class="circle"></div>
        <div class="post-body u-maxWidth1000 u-marginAuto animated bounceInUp">{{content}}</div>
    </section>
</article>

{{/post}}

{{#contentFor "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
$(document).ready(function() {
    var $form = $('#godo-form');

    $form.submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action').replace('/post?', '/post-json?').concat('&c=?'),
            data: $form.serialize(),
            cache: false,
            dataType: 'jsonp',
            contentType: 'application/json; charset=utf-8',

            success: function(data) {
                if (data.result === 'success') {
                    $('.godo-ne-input').removeClass('error');
                    $('.godo-ne-success').removeClass('u-hide');
                    $form.addClass('u-hide');
                    $('.godo-ne-input').val('');
                } else {
                    $('.godo-ne-input').addClass('error');
                }
            }
        });

        return false;
    });
});
</script>
{{/contentFor}}