{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-article is-video{{/contentFor}}

{{#post}}

{{#contentFor "simply_video_post"}}
    {{!-- Article Header - paertials/article/article-header.hbs --}}
    {{> "article/article-header"}}

    {{!-- Video Container --}}
    <div class="video-post-format u-marginAuto u-maxWidth1000 u-hide"></div>
{{/contentFor}}

{{/post}}

{{!-- Article --}}
{{> "article/article"}}

