{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-article is-video{{/contentFor}}

<article class="post u-marginBottom40 u-relative">
    {{!-- Article Header - paertials/article/article-header.hbs --}}
    {{> "article/article-header"}}

    {{!-- Video Container --}}
    <div class="video-post-format u-marginAuto u-maxWidth1000 u-hide u-marginTop30"></div>

    <div class="post-wrap u-maxWidth1000 u-relative u-marginAuto">
        {{!-- All Content --}}
        <div id="post-body" class="post-body u-container u-maxWidth740 u-relative">{{content}}</div>
    </div>

    <footer class="post-footer u-container u-maxWidth740">
        {{!-- Tags (category) --}}
        {{> "article/article-tags"}}

        <hr>
        <div class="prev-next">
            {{#prev_post}}
                {{> "story/story-previous-next" storyTitle=(t "Previous article") class="u-marginBottom30"}}
            {{/prev_post}}

            {{#next_post}}
                {{> "story/story-previous-next" storyTitle=(t "Next article") class=""}}
            {{/next_post}}
        </div>
        <hr>
    </footer>
</article>
{{/post}}

{{!-- Article related - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{> "article/article-comments"}}

    {{!-- Share Article - Facebook Twitter Whatsapp --}}
    {{> "article/article-share-sticky"}}
{{/post}}