{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article has-cover is-head-transparent{{/contentFor}}

<article class="post mb-10 relative">
    <div class="postImage relative simply-hero-cover bg-dark min-h-lg lg:h-screen py-24">
        {{#if feature_image}}
            {{!-- Featured Image - partials/helper/helper-image-cover.hbs --}}
            {{> "helper/helper-image-cover"}}
            {{!-- bg --}}
            <div class="postImage-gradient absolute inset-0 z-2 bg-black bg-opacity-40"></div>
        {{/if}}

        <header class="post-header mx-auto max-w-740 px-4 p-24 relative z-3">
            {{!-- Article Title --}}
            <h1 class="post-title mb-5 text-white text-4xl lg:text-5xl">{{title}}</h1>
            {{!-- Article Excerpt  --}}
            {{#if custom_excerpt}}<p class="post-excerpt mb-8 text-2xl text-white leading-snug">{{custom_excerpt}}</p>{{/if}}

            {{> "helper/helper-author-meta"}}
        </header>
    </div>

    <div class="post-wrap max-w-1100 relative mx-auto">
        {{!-- All Content --}}
        <div id="post-body" class="post-body px-4 mx-auto max-w-740 relative">{{content}}</div>
    </div>

    <footer class="post-footer px-4 mx-auto max-w-740">
        {{!-- Tags (category) - partials/article/article-tags.hbs --}}
        {{> "article/article-tags"}}

        <hr>
        <div class="prev-next">
            {{#prev_post}}
                {{> "story/story-previous-next" storyTitle=(t "Previous article") class="mb-8"}}
            {{/prev_post}}

            {{#next_post}}
                {{> "story/story-previous-next" storyTitle=(t "Next article") class=""}}
            {{/next_post}}
        </div>
        <hr>
    </footer>
</article>
{{/post}}

{{!-- Article related - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{> "article/article-comments"}}

    {{!-- Share Article - Facebook Twitter Whatsapp --}}
    {{> "article/article-share-sticky"}}
{{/post}}