{{!-- Layout --}}
{{!< default}}

{{#contentFor "special_body_class"}}is-subscribe u-bgWhite{{/contentFor}}

{{#post}}

<article class="post ne">
    <header class="ne-h u-container animated bounceInUp">
        <div class="ne-inner u-maxWidth740 u-marginAuto u-relative u-flexColumn u-flexCenter u-textAlignCenter">
            <h1 class="ne-t u-contentTitle">{{title}}</h1>
            {{#if custom_excerpt}}<p class="ne-e u-textColorNormal">{{custom_excerpt}}</p>{{/if}}
        </div>
    </header>

    <section class="ne-body u-relative u-container"><div class="post-body u-maxWidth1000 u-marginAuto animated bounceInUp">{{content}}</div></section>
</article>

{{/post}}

{{!-- Im Noob For JavaScrip :( Help me please --}}
{{#contentFor "scripts"}}
<script>
    document.getElementById('godo-form').addEventListener('submit', function () {
        document.getElementById('fieldEmail').value = '';
    }, false);
</script>
{{/contentFor}}
