{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article is-sidebar is-canvas-full{{/contentFor}}

<div class="container mx-auto px-4 py-vmin8">
    <div class="max-w mx-auto flex flex-col justify-evenly gap-y-10 lg:flex-row">
        <div class="max-w-2xl-2 mx-auto lg:mx-0">
            <article>
                <header class="story-post-header">
                    {{!-- [Title, Excerpt, Author, DateTime, Share]- partials/article/article-header.hbs --}}
                    {{> "article/article-header"}}

                    {{!-- Post Image - partials/article/article-featured-image.hbs --}}
                    {{> "article/article-featured-image" classFigure="mt-12"}}
                </header>

                {{!-- Article Body - partials/article/article-body.hbs --}}
                {{> "article/article-body"}}
            </article>
        </div>

        {{!-- Sidebar - partials/sidebar/sidebar.hbs --}}
        {{>"sidebar/sidebar"}}
    </div>
</div>

{{/post}}

{{!-- 6 Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Post Commets - partials/article/article-comments.hbd --}}
{{#post}}{{> "article/article-comments"}}{{/post}}