{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article is-image{{/contentFor}}

<article class="post u-marginBottom40 u-relative">
    <div class="pif u-relative u-bgDark">
        {{#if feature_image}}
            {{!-- Featured Image - partials/helper/helper-image-cover.hbs --}}
            {{> "helper/helper-image-cover"}}
            {{!-- bg --}}
            <div class="u-absolute0 zindex2 pif-grad"></div>
        {{/if}}

        <header class="post-header u-container u-maxWidth740 u-paddingTop30 u-relative zindex3">
            {{!-- Article Title --}}
            <h1 class="post-title u-marginBottom20 u-fontSizeLargest u-md-fontSizeLarger">{{title}}</h1>
            {{!-- Article Excerpt  --}}
            {{#if custom_excerpt}}<p class="post-excerpt u-marginBottom30 u-fontSize22">{{custom_excerpt}}</p>{{/if}}

            {{> "helper/helper-author-meta"}}
        </header>
    </div>

    <div class="post-wrap u-maxWidth1000 u-relative u-marginAuto">
        {{!-- All Content --}}
        <div id="post-body" class="post-body u-container u-maxWidth740 u-relative">{{content}}</div>
    </div>

    <footer class="post-footer u-container u-maxWidth740">
        {{!-- Tags (category) --}}
        {{> "article/article-tags"}}

        <hr>
        <div class="prev-next">
            {{#prev_post}}
                {{> "story/story-previous-next" storyTitle=(t "Previous article") class="u-marginBottom30"}}
            {{/prev_post}}

            {{#next_post}}
                {{> "story/story-previous-next" storyTitle=(t "Next article") class=""}}
            {{/next_post}}
        </div>
        <hr>
    </footer>
</article>
{{/post}}

{{!-- Article related - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{> "article/article-comments"}}

    {{!-- Share Article - Facebook Twitter Whatsapp --}}
    {{> "article/article-share-sticky"}}
{{/post}}