{{!-- Layout --}}
{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-error-page bg-gray-100{{/contentFor}}

<section class="leading-none py-12 lg:py-vw8">
    <div class="container mx-auto text-center text-gray-500">
        <div class="font-bold text-title text-8xl lg:text-9xl">404</div>
        <div class="mt-10">{{t "Unfortunately, this page doesn't exist"}}</div>
    </div>
</section>

{{#get "posts" limit="6" filter="tag:-[hash-portfolio,hash-kusi-doc,hash-podcast]" as |recents| }}
    <div class="container mx-auto">
        <div class="mx-auto max-w-1100 grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#foreach recents}}
                {{> "story/story-card-small"}}
            {{/foreach}}
        </div>
    </div>
{{/get}}