{{!< default}}

<div class="u-container">
    <div class="u-maxWidth1100 u-marginAuto row u-paddingTop30">
        <div class="col s12 col-left">
            <div class="feed-entry-content">
                <div class="feed-entry-wrap slist">

                    {{#foreach posts}}
                       <article class="story u-relative">{{>"story/story-grid"}}</article>

                        {{!-- ad --}}
                        {{#has number="5"}}{{> "ad/ad-loop-medium"}}{{/has}}
                        {{#has number="10"}}{{> "ad/ad-loop-footer"}}{{/has}}
                    {{/foreach}}

                </div>
            </div>
        </div>

        {{!-- Sidebar - partials/sidebar/sidebar.hbs --}}
        {{>"sidebar/sidebar"}}
    </div>
</div>