{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-frontpage{{/contentFor}}

{{!-- Featured Story --}}
{{#get "posts" limit="1" filter="featured:true" as |godo_featured_post| }}
    {{#if godo_featured_post}} {{#foreach godo_featured_post}}{{> "story/story-featured"}} {{/foreach}}{{/if}}
{{/get}}

<div class="site-post container mx-auto py-vmin8">
    <div class="js-feed-entry max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-12 gap-6">
        {{#foreach posts}}
            {{#has number="6"}}
                {{> "story/story-grid" story_class="ss1 grid lg:col-span-full lg:grid-cols-3 gap-6"}}
            {{else has number="4,5"}}
                {{> "story/story-grid" story_class="ss2 lg:col-span-6"}}
            {{else}}
                {{> "story/story-grid" story_class="lg:col-span-4"}}
            {{/has}}
        {{/foreach}}
    </div>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>