{{!< default}}

{{!-- Publication Cover - partials/home/publication-cover.hbs --}}
{{> "home/publication-cover"}}

<div class="container mx-auto px-4 py-vmin8">
    <div class="max-w-1100 max-w mx-auto grid gap-10 xl:gap-20 lg:grid-cols-sidebar">
        <div>
            <div class="js-feed-entry grid gap-16">
                {{!-- Story - partials/story/story-grid.hbs --}}
                {{#foreach posts}}{{>"story/story-post"}}{{/foreach}}
            </div>

            {{!-- Pagination - partials/pagination.hbs --}}
            {{pagination}}
        </div>

        {{!-- Sidebar - partials/sidebar/sidebar.hbs --}}
        {{>"sidebar/sidebar"}}
    </div>
</div>