{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- featured 3 post --}}
{{#get "posts" include="author, tags" filter="featured:true" limit="3" as |featured|}}
<section class="featured u-relative">
    <div class="featured-wrap u-absolute0 u-flex">
        {{#foreach featured}}{{>"entry"}}{{/foreach}}
    </div>
</section>
{{/get}}

{{!-- All entry --}}
<section class="homePage u-wrap">
    <div class="feed-entry-content u-marginTop30 u-marginBottom15 u-maxWidth1000 u-marginAuto">
        <div class="feed-entry-wrap">
            {{!-- This is the post loop - each post will be output using this markup --}}
            <div class="row">
                {{#foreach posts}} {{>"entry"}} {{/foreach}}
            </div>
        </div>
    </div>
</section>
