<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}" />
</head>
<body>

    <h1>Hello World</h1>

    {{!-- The main JavaScript file for Mapache --}}
    <script src="{{asset "scripts/main.js"}}"></script>
</body>
</html>
