{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-frontpage{{/contentFor}}

<div class="site-post feed-entry-content container mx-auto pt-10">
    <div class="feed-entry-wrap max-w-1100 mx-auto">
        <div class="row">
            {{#foreach posts}}
                {{#has number="1"}}
                    <div class="col s12 m6 l12 ss1">{{> "story/story-grid"}}</div>
                {{else has number="5, 6"}}
                    <div class="col s12 m6 ss2">{{> "story/story-grid"}}</div>
                {{else}}
                    <div class="col s12 m6 l4">{{> "story/story-grid"}}</div>
                {{/has}}
            {{/foreach}}
        </div>
    </div>
</div>