{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- featured 3 post --}}
{{>"featured"}}

<section class="u-wrap">
    <div class="feed-entry-content">
        <div class="feed-entry-wrap">
            {{!-- The tag below includes the post loop - partials/loop.hbs --}}
            {{>"loop"}}
        </div>
    </div>
</section>
