{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post u-marginBottom40">

    <header class="post-header container u-maxWidth740">

    </header>

    <figure class="post-image">

    </figure>

    <section class="post-body">

    </section>

    <footer class="post-footer">

    </footer>

</article>

{{/post}}
