{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<section class="u-relative u-backgroundSizeCover" style="background-image: url({{image}})">
    <div class="u-maxWidth1040 u-container u-relative u-flexCenter tag {{^if image}}not--image {{/if}}">
        <div class="tag-wrap u-paddingTop30 u-paddingBottom30 u-sizeFullWidth u-textAlignCenter">
            <h1 class="tag-title u-contentTitle">{{name}}</h1>
            {{#if description}}<p class="tag-description u-fontSizeSmall u-paddingTop10 u-marginAuto">{{description}}</p>{{/if}}
        </div>
    </div>
    {{#if image}}<span class="u-absolute0 u-backgroundDark"></span>{{/if}}
</section>
{{/tag}}

<section class="u-maxWidth1000 u-marginAuto">
    <div class="row u-paddingTop30">

        <div class="feed-entry-content content col s12">
            <div class="feed-entry-wrap">
                {{!-- The tag below includes the post loop - partials/loop.hbs --}}
                {{>"entry-post"}}
            </div>
        </div>

        {{!-- Sidebar --}}
        {{>"sidebar"}}

    </div>
</section>
