{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-tag{{/contentFor}}

<section class="tag u-paddingTop30">
    <div class="cover-wrap u-relative u-maxWidth1040 u-container u-sizeFullWidth u-textAlignCenter zindex3">
        <h1 class="cover-title u-contentTitle u-fontSize36">{{name}}</h1>
        {{#if description}}<p class="cover-des u-fontSizeLarge u-fontWeightThin u-marginTop20 u-marginAuto">{{description}}</p>{{/if}}
    </div>
</section>
{{/tag}}

{{!-- ad --}}
{{> "ad/ad-tag-top"}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}
