{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "simply_class_body"}}is-tag {{#if feature_image}}has-featured-image{{/if}}{{/contentFor}}

<section class="tag u-relative u-flex u-flexWrap u-backgroundSizeCover u-textAlignCenter u-paddingBottom20 {{^if feature_image}}not--image {{/if}}" style="background-image: url({{feature_image}})">
    {{#if feature_image}}<span class="u-absolute0 u-backgroundDark"></span>{{/if}}

    <div class="u-maxWidth1040 u-container tag-wrap u-paddingTop30 u-paddingBottom30 u-relative u-flexCenter u-flexCenter u-flexColumn">
        <h1 class="tag-title u-contentTitle">{{name}}</h1>
        {{#if description}}<p class="tag-description u-fontSizeSmall u-paddingTop10 u-marginAuto">{{description}}</p>{{/if}}
    </div>

</section>
{{/tag}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}
