// Bookmark card
// -----------------------------------------------------------------------------
.kg-bookmark {
  &-card { position: relative }
  &-publisher { color: $post-color-link }

  &-container {
    @extend %primary-font;
    @extend %flex;
    @extend %box-shadow-card;
  }

  &-content {
    @extend %flexColumnTop;

    flex-grow: 1;
    flex-basis: 100%;
    padding: 20px;
  }

  &-title {
    @extend %primary-text-title;

    line-height: 1.2;
    font-size: 20px;
  }

  &-description {
    @extend %lineClamp;
    @extend %text-muted;

    -webkit-line-clamp: 2;
    line-height: 1.4;
    max-height: 4em;
    margin-top: 10px;
    font-size: 1rem;
  }

  &-metadata {
    @extend %align-items-center;

    font-size: 15px;
    margin-top: 10px;
  }

  &-thumbnail {
    flex-grow: 1;
    min-height: 150px;
    min-width: 33%;
    overflow: hidden;
    position: relative;
  }

  &-thumbnail img {
    @extend %u-absolute0;
    @extend %u-image;
  }

  &-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  &-author::after {
    content: "•";
    margin: 0 6px;
    opacity: .6;
  }
}

@media #{$sm-and-down} {
  .kg-bookmark {
    &-container { flex-direction: column }
    &-content { order: 1 }
  }
}
