// colors
$whitegrey : #e5eff5;
$darkgrey : #343f44;
$blue :#3eb0ef;

:not(pre) > code {
  padding: 1px 5px;
  border-radius: .3px;
  white-space: normal;
  background: $whitegrey;
  text-shadow: none;
  color: $darkgrey;
  font-size: .8em;
}

pre {
  overflow-x: auto;
  margin: 0;
  padding: 20px;
  max-width: 100%;
  border: none;
  color: $whitegrey;
  font-size: 0.875rem;
  line-height: 1.6em;
  background: #2a3644;
  border-radius: 5px;
  // background: #1d1d35;
  // background: #132419;

  code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    white-space: pre;

    * { color: inherit }
  }
}

/* Code Boxes
/* ---------------------------------------------------------- */

/* stylelint-disable-next-line */
code,
pre {
  font-family: "Operator Mono Medium", "Dank Mono", "Fira Code", Menlo, Courier, monospace;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

// .article-inner code {
//   padding: 1px 5px;
//   font-size: 0.8em;
//   line-height: 1em;
//   font-weight: 400 !important;
//   background: $whitegrey;
//   border-radius: 3px;
//   white-space: pre-wrap;
// }

/* Prism
/* ---------------------------------------------------------- */
pre[class*="language-"] {
  padding: 1.25rem;
  margin-bottom: 0;
  overflow: auto;
  border-radius: 8px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: none;
  // background: #2a3644;
  // background: #1d1d35;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .3em .4em;
  border-radius: .3em;
  white-space: normal;
  background: $whitegrey;
  text-shadow: none;
  color: $darkgrey;
  font-size: 0.9em;
}

a > code[class*="language-"] {
  color: $blue;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba(255, 255, 255, 0.5)
}

.token.punctuation {
  color: #fff;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff5884;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #e6db74;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #fff;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #a6e22e;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
