// 1. Cover or Featured Image
// -----------------------------------------------------------------------------
.cover {
  @extend %flex;
  @extend %flex-align-items-center;
  @extend %flex-justify-content-center;

  min-height: 400px;
  padding-bottom: 50px;
  padding-top: 100px;
  position: relative;

  &-des { max-width: 800px }
  &-gradient { background: rgba(0, 0, 0, .6) }
}

// 2. Has Cover or featured image
// -----------------------------------------------------------------------------
body.has-cover {
  .cover {
    color: #fff;
    min-height: 600px;
    background: rgba(0, 0, 0, 0.9);
    // transition: all 1s ease;
  }

  .header { transition: all 1s ease }
  .main { margin-top: -($header-height + 2) }
}

// 4. Header is Transparent
// -----------------------------------------------------------------------------
body.is-transparent {
  .header { background-color: rgba(255, 255, 255, 0) }

  &:not(.has-menu) {
    .header {
      border-bottom: 1px solid hsla(0, 0%, 100%, .1);
      box-shadow: none;
    }

    .menu-burger span { background: #fff }
    .header-logo, .u-menu-color a { color: #fff }
  }
}

// Class Temporal

.site-archive {
  padding: 4% 0;

  &-des {
    @extend %secondary-font;
  }
}
