// Gallery
// -----------------------------------------------------------------------------

.kg-gallery {
  &-container {
    max-width: 1100px;
    width: 100vw;
  }

  &-row {
    @extend %flex-direction-row;

    &:not(:first-of-type) { margin: 0.75em 0 0 0 }
  }

  &-image {
    /* stylelint-disable-next-line */
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:first-of-type) { margin: 0 0 0 0.75em }
  }
}

.kg-embed-card, .kg-gallery-container {
  @extend %flex-direction-column;
}

.kg-embed-card {
  @extend %flex-align-items-center;

  max-width: 100%;
}

.kg-width-full .kg-image { max-width: 100vw }
.kg-width-wide .kg-image { max-width: 1000px }

@media #{$md-and-down} {
  .kg-width-wide .kg-image { width: 100%; }
}
