.instagram {
  &-hover {
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
  }

  &-img {
    height: 264px;

    &:hover > .instagram-hover { opacity: 1 }
    span { margin: 0 5px }

    @media #{$sm-and-down} { height: 150px; }
  }

  &-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  &-btn {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;

    &:hover { background-color: #fff }
  }
}
