.instagram {
  padding: 20px 0;
  overflow: hidden;

  &-hover {
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
  }

  &-img {
    height: 264px;

    &:hover > .instagram-hover { opacity: 1 }
    span { margin: 0 5px }

    @media #{$md-and-down} { height: 150px; }
  }

  &-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: absolute;
  }
}
