.m-subscribe {
  @extend %modal;

  z-index: 100;

  &-shader {
    @extend %modal-bg;
  }

  &-content {
    @extend %modal-inner;

    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    margin: 20px;
  }

  // &-des { @extend %secondary-font; }

  &-close {
    position: absolute;
    right: -18px;
    top: -18px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;

    .m-subscribe-content {
      @extend %modal-active;
    }
  }

  .message-success { background: #acd053 }
  .message-error { background: #ec694b; }
}
