// Search
// -----------------------------------------------------------------------------

.search {
  @extend %modal;

  &-shader { @extend %modal-bg; }

  &-inner {
    @extend %modal-inner;

    max-width: 700px;
    padding: 6vw 20px 20px;
    width: 100%;
    margin-bottom: 30px;
  }

  &-wrap {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .09), 2px 32px 38px -20px rgba(0, 0, 0, .25);
    overflow: hidden;
  }

  &-message {
    padding: 7px 8px;
    color: #738a94;
    font-size: .9em;
    border-top: 1px solid rgba(231, 239, 243, .7);
  }

  &-close {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 8px;
    padding: 5px;
  }

  &-form {
    padding: 12px 16px;
    overflow: hidden;

    input {
      border: none;
      width: 100%;
      box-shadow: none;

      &:focus { box-shadow: none }
    }
  }

  // result
  &-results {
    overflow: auto;
    max-height: calc(100vh - 15rem);
    -webkit-overflow-scrolling: touch;

    a {
      padding: 10px 20px;
      background: rgba(0, 0, 0, .05);
      color: rgba(0, 0, 0, .7);
      text-decoration: none;
      display: block;
      transition: all 0.3s ease-in-out;

      &:hover, &.search-result--active { background: #dedede }
    }
  }
}

.search-nav-hints {
  max-width: 680px;
  line-height: 48px;
  margin-top: 10px;
  width: 100%;
  user-select: none;
}

.search-nav-hint {
  display: inline-block;
  line-height: 24px;
  margin-left: 12px;
  font-size: 13px;
  color: #fff;

  & > span {
    display: inline-block;
    background-color: #f42;
    padding: 1px 4px 2px;
    border-radius: 2px;
    opacity: .9;
    min-width: 20px;
    line-height: 18px;
    text-align: center;
  }
}

.button-search--close {
  position: absolute !important;
  right: 50px;
  top: 20px;
}

body.has-search {
  overflow: hidden;

  .search {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;

    &-inner {
      opacity: 1;
      transform: scale(1);
      transition: transform .8s cubic-bezier(.26, .63, 0, .96);
    }
  }
}

@media #{$md-and-down} {
  .search-inner { padding-top: 3.5rem }
  .search-results { max-height: calc(100vh - 10rem) }
}
