// post share Header
// -----------------------------------------------------------------------------

.post-share .share-link {
  margin-left: 8px;
  background-color: #eee;
}

// Post Share sticky
// -----------------------------------------------------------------------------
.share-sticky {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .44);
  left: 0;
  padding: 6px 0;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  transition: transform .3s;
  z-index: 20;

  &.is-visible { transform: translateY(0) }

  .button {
    margin-bottom: 0;
  }
}

@media #{$md-and-down} {
  .share-sticky { text-align: center; }
}
