// 1. Colors
// --------------------------------------------------

$primary-color: #2ecc71;
$primary-color-darken: #21a75a;

$dark-blue-500: #102b7b;

$gray-500: #6c757d;
$gray-800: #212529;
$gray-900: #111;

$primary-text-color: $gray-800;
$primary-text-color-title: $gray-900;

$info-color: #3298dc;
$success-color: #48c774;
$warning-color: #ffdd57;
$danger-color: #f14668;

// social colors
$social-colors: (
  facebook: #3b5998,
  twitter : #55acee,
  linkedin: #007bb6,
  whatsapp: #64d448
);

$white:   #fff;
$black:   #000;
$dark:    hsl(0, 0%, 21%);
$success: hsl(141, 53%,  53%);
$warning: hsl(48,  100%, 67%);
$danger:  hsl(348, 86%, 61%);

// Buttons Colors
// background - color - color hover
$colors: (
  "white"     : ($white, $black, $gray-500),
  "black"     : ($black, $white),
  "dark"      : ($dark, $white),
  "primary"   : ($primary-color, $white),
  "dark-blue" : ($dark-blue-500, $white),
  "sucecess"  : ($success, $white),
  "warning"   : ($warning, rgba(0,0,0,.7)),
  "danger"    : ($danger, $white),
  "transparent": (transparent, hsla(0,0%,100%,.7), $white)
);

// 2. Fonts
// --------------------------------------------------
$font-sans: 'Inter', Whitney SSm A, Whitney SSm B, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
$font-serif: 'PT Serif', Mercury SSm A, Mercury SSm B, Georgia, serif;

// 3. Typography
// --------------------------------------------------

$font-size-root:  16px;

$size-normal: 1rem;

$font-size-h1:    2.375rem;
$font-size-h2:    2.125rem;
$font-size-h3:    1.875rem;
$font-size-h4:    1.625rem;
$font-size-h5:    1.5rem;
$font-size-h6:    1.25rem;

$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $primary-text-color;

// 4. Container
// --------------------------------------------------

$mobile:     640px;
$tablet:     768px;
$desktop:    1000px;
$widescreen: 1230px;

// 6. Grid
// --------------------------------------------------
$num-cols: 12;
$gutter-width: 1rem;

// 7. Header
// --------------------------------------------------
$header-height: 4rem;

// Post
// -----------------------------------------------------------------------------
$font-size-post: 1.25rem;
$post-color-link: #00a562;

$link-color: $primary-color;
$link-color-hover: $primary-color-darken;

// Footer
// -----------------------------------------------------------------------------
$footer-bg-color: #000;
$footer-color: hsla(0, 0%, 100%, .7);
$footer-color-subscribe: #ddd;
$footer-color-input: #bbb;
$footer-bg-input-color: #222;

// Miscellaneous
$radius: 4px;
$radius-small: 2px;

// Flags
$rtl: false !default
