{{#if @custom.comments_disqus_short_name}}

<div id="post-comments" class="post-comments js-comments bg-gray-150 pt-8 pb-8 hidden">
    <div class="mx-auto px-4 max-w-5xl">
        {{!-- Disqus Comments --}}
        <div id="disqus_thread"></div>
    </div>
</div>

{{#contentFor "scripts"}}
<script>
(function(d, s, id) {
    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    };

    d.querySelector('.js-comments').classList.remove('hidden')
    /*var disqusComments = d.querySelectorAll('.js-comments');
    disqusComments.forEach(function(item){item.classList.remove('u-hide')});*/

    function loadDisqus() {
        var currentScroll = d.scrollingElement.scrollTop;
        var disqusTarget = d.getElementById('disqus_thread');

        if (d.getElementById(id)) return;

        if( disqusTarget && (currentScroll > disqusTarget.getBoundingClientRect().top - 150) ) {
            var js = d.createElement(s);
            js.id = id;
            js.src = 'https://{{@custom.comments_disqus_short_name}}.disqus.com/embed.js';
            js.async = true;
            js.defer = true;
            js.setAttribute('data-timestamp', +new Date());
            d.body.appendChild(js);

            window.removeEventListener('scroll', loadDisqus);
        }
    }

    window.addEventListener('scroll', loadDisqus);

    document.querySelector('.js-dark-mode').addEventListener('click', function() {
        if (window.DISQUS) {
            DISQUS.reset({
                reload: true,
                config: disqus_config
            });
        }
    });
}(document, 'script', 'disqus-js'));
</script>
{{/contentFor}}

{{/if}}