<div id="post-comments" class="post-comments js-comments u-hide u-bgWhite u-paddingTop30 u-paddingBottom30">
    <div class="u-container u-maxWidth1000 u-card">
        {{!-- Disqus Comments --}}
        <div id="disqus_thread"></div>
    </div>
</div>

{{#contentFor "scripts"}}
<script>
(function(d, s, id) {
    if (typeof disqusShortName === 'undefined') return;

    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    };

    var disqusComments = d.querySelectorAll('.js-comments');
    disqusComments.forEach(function(item){item.classList.remove('u-hide')});

    // Disqus Comments Count
    var count = d.createElement(s);
    count.src = 'https://'+disqusShortName+'.disqus.com/count.js';
    count.id = 'dsq-count-scr';
    count.async = true;
    count.defer = true;
    d.body.appendChild(count);

    function loadDisqus() {
        var currentScroll = d.scrollingElement.scrollTop;
        var disqusTarget = d.getElementById('disqus_thread');

        if( disqusTarget && (currentScroll > disqusTarget.getBoundingClientRect().top - 150) ) {
            if (d.getElementById(id)) return;

            var js = d.createElement(s);
            js.id = id;
            js.src = 'https://'+disqusShortName+'.disqus.com/embed.js';
            js.async = true;
            js.defer = true;
            js.setAttribute('data-timestamp', +new Date());
            d.body.appendChild(js);

            window.removeEventListener('scroll', loadDisqus);
        }
    }

    window.addEventListener('scroll', loadDisqus);
}(document, 'script', 'disqus-js'));
</script>
{{/contentFor}}
