{{#if post.tags}}
{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |post_related|}}
{{#if post_related}}
<div class="post-related bg-gray-150 py-10">
    <div class="container mx-auto">
        <div class="max-w-1100 mx-auto">
            <div class="row">

                <div class="col s12 mb-12 text-center">
                    <h3 class="text-title text-32">{{{t "Related <span class='text-primary'>Articles</span>"}}}</h3>
                </div>

                {{#foreach post_related}}
                <div class="col s12 m6 l4 flex">
                    {{!-- Meta - partials/story/story-card-small.hbs --}}
                    {{> "story/story-card-small"}}
                </div>
                {{/foreach}}
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/get}}
{{/if}}