<footer class="post-footer px-4 mx-auto max-w-740">
    {{!-- Tags --}}
    {{#if tags}}
    <div class="post-tags buttons mt-8">
        {{#foreach tags}}
        <a href="{{url absolute="true"}}"
            title="{{name}}"
            class="button is-tags godo-tracking"
            data-event-category="Article"
            data-event-action="Tags"
            data-event-label="{{name}}"
            data-event-non-interaction="true">
            {{name}}
        </a>
        {{/foreach}}
    </div>
    {{/if}}

    <hr>
    <div class="prev-next">
        {{#prev_post}}
            {{> "story/story-previous-next" storyTitle=(t "Previous article") class="mb-8"}}
        {{/prev_post}}

        {{#next_post}}
            {{> "story/story-previous-next" storyTitle=(t "Next article") class=""}}
        {{/next_post}}
    </div>
    <hr>
</footer>