<header class="post-header u-container u-maxWidth740 u-paddingTop30 u-marginBottom40 u-relative zindex3">
    {{!-- Article Title --}}
    <h1 class="post-title u-fontSizeLargest u-marginBottom20 u-contentTitle u-md-fontSizeLarger">{{title}}</h1>
    {{!-- Article Excerpt  --}}
    {{#if custom_excerpt}}<p class="post-excerpt u-textColorNormal u-marginBottom20">{{custom_excerpt}}</p>{{/if}}
    {{!-- Meta - partials/helper/helper-meta.hbs --}}
    {{> "helper/helper-author-meta"}}
</header>
