{{#post}}
<article class="post u-marginBottom40 u-relative">
    {{!-- Ad --}}
    {{> "ad/ad-article-header"}}

    {{!-- Image Post Format --}}
    {{{block "simply_image_post"}}}

    {{!-- Video post format --}}
    {{{block "simply_video_post"}}}

    {{!-- Image post Format default or Image Normal --}}
    {{{block "simply_default_post"}}}

    <div class="u-container u-maxWidth740 u-relative">
        {{!-- Content of Post --}}
        <div id="post-body" class="post-body u-relative">{{content}}</div>
    </div>

    <footer class="post-footer u-container u-maxWidth740 u-paddingTop20 u-paddingBottom20">
        {{!-- Email subscribe form at the bottom of the page --}}
        {{> "article/article-subscribers"}}

        {{!-- Post All Tags (category) --}}
        {{> "article/article-tags"}}
    </footer>

</article>
{{/post}}

{{!-- Article related --}}
{{> "article/article-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{> "article/article-comments"}}

    {{!-- Post Actions (next and prev post, share social media, cout share in facebook) --}}
    {{> "article/post-action-sticky"}}
{{/post}}

{{!-- Ad --}}
<div class="u-bgWhite">{{> "ad/ad-article-footer"}}</div>

{{!-- Instgram Feed --}}
{{> "widget/instagram-feed"}}
