{{#if tags}}
    <div class="post-tags buttonSet u-marginTop30">
        {{#foreach tags}}<a href="{{url absolute="true"}}" title="{{name}}" class="button button--tags godo-tracking" data-event-category="Article" data-event-action="Tags" data-event-label="{{name}}" data-event-non-interaction="true">{{name}}</a>{{/foreach}}
    </div>
{{/if}}
