{{#if post.tags}}
{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |post_related|}}
{{#if post_related}}
<div class="post-related bg-gray-150 py-10">
    <div class="container mx-auto">
        <div class="max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            <h3 class="text-title text-32 col-span-full mb-10 text-center">
                {{{t "Related <span class='text-primary'>Articles</span>"}}}
            </h3>

            {{!-- Meta - partials/story/story-card-small.hbs --}}
            {{#foreach post_related}}
                {{> "story/story-card-small"}}
            {{/foreach}}
        </div>
    </div>
</div>
{{/if}}
{{/get}}
{{/if}}