<aside class="sidebar flex flex-col justify-start">
    <div class="flex flex-col flex-1">

        {{#is "post"}}
            {{#get "posts" limit="3" filter="tag:-[hash-portfolio,hash-kusi-doc,hash-podcast]+id:-{{comment_id}}" as |sidebar_latest_post| }}
                {{> "sidebar/sidebar-post-card" widgetTitle=(t "Latest Posts") widgetPosts=sidebar_latest_post }}
            {{/get}}
        {{else}}
            {{#get "posts" filter="featured:true" limit="3" as |sidebar_featured_post| }}
                {{#if sidebar_featured_post}}
                    {{> "sidebar/sidebar-post-card" widgetTitle=(t "Featured Articles") widgetPosts=sidebar_featured_post }}
                {{/if}}
            {{/get}}
        {{/is}}

    </div>
</aside>