.search-form input {
  border: none;
  background: transparent;

  &:focus {
    box-shadow: none;
  }
}

.search-results {
  max-height: calc(100vh - 12rem);

  li {
    &:hover,
    &.is-active {
      background: rgba(170, 170, 170, .35);
    }
  }
}
