/**
* 1. Newsletter Page
* 2. Godo Newsletter Form
* 3. Godo Newsletter Quotes
*/

// 1. Newsletter Page
// -----------------------------------------------------------------------------
.ne {
  &-inner {
    padding: 4vw 0 30px;
    min-height: 200px;
  }

  // title
  &-t {
    margin: 0;
    padding: 0;
    font-size: 4rem;
  }

  // excerpt
  &-e {
    @extend %secondary-font;

    margin-top: 30px;
    font-size: 24px;
  }

  &-body ul li { font-size: 1.2rem }
}

.circle {
  // background-color: #F0FCF5;
  background-color: lighten($primary-color, 48%);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -10;
  left: 15%;
}

// 2. Godo Newsletter Form
// -----------------------------------------------------------------------------
.godo-ne {
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin: 40px auto 30px;
  max-width: 600px;
  padding: 30px 50px 40px 50px;
  position: relative;
  transform: scale(1.15);
  width: 85%;
  min-width: auto;

  &-form {
    @extend %primary-font;

    label {
      display: block;
      margin: 0 0 15px 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      color: $newsletter-color;
    }

    small {
      display: block;
      margin: 15px 0 0;
      font-size: 0.8125rem;
      font-weight: 400;
      opacity: 0.7;
    }

    &-group {
      @extend %flex;
      @extend %flex-justify-content-center;
      @extend %flex-align-items-center;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  &-button {
    border: 0;
    flex-shrink: 0;
    margin-left: 5px;
  }
}

// 3. Godo Newsletter Quotes
// -----------------------------------------------------------------------------
.godo-n-q {
  @extend %flex;
  // display: flex;
  margin: 5vw 0;
  position: relative;
  z-index: 2;

  blockquote {
    // @extend %secondary-font;
    // font-family: $secondary-font;
    border: 0;
    font-size: 1rem;
    font-style: normal;
    margin: 20px 0 0 0;
    opacity: 0.8;
    padding: 0;
    font-weight: 400;
  }

  img {
    border-radius: 100%;
    border: #fff 5px solid;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .18);
    display: block;
    height: 105px;
    width: 105px;
  }

  h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: 500;
  }

  // items
  &-i {
    @extend %flex;
    @extend %flex-align-items-center;
    @extend %flex-direction-column;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    flex: 1 1 300px;
    margin: 0 20px 40px;
    text-align: center;
  }

  &-d {
    color: $newsletter-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: 6px 0 0 0;
    text-transform: uppercase;
  }
}

//  media Query
// -----------------------------------------------------------------------------
@media #{$md-and-down} {
  .godo-ne-input { margin: 0 0 10px }
  .godo-ne-form-group { flex-direction: column }
  .godo-ne-button { width: 100%; margin-bottom: 5px }
  .ne-t { font-size: 2.8rem }
  .ne-e { font-size: 1.2rem }
}
