// Archive Page Contact
// -----------------------------------------------------------------------------

// pae (Phone - Adress - email)
.pae {
  margin-bottom: 60px;

  &-icon svg {
    width: 64px;
    height: 64px;
  }

  &-title {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 20px 0;
    font-weight: 600
  }
}

.archive-contact-maps::before {
  height: 50px;
  width: 2px;
  background: #ccc;
  content: '';
  display: inline-block;
  margin-bottom: 90px;
}
