// 1. Archive Author Page
// -----------------------------------------------------------------------------
.archive-author {
  background: linear-gradient(to right, #E8F3EC 50%, #F6F1E4 50%)
}

.author-card {
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  background: #fff;
  padding: 15px;
  min-height: 250px;

  &-avatar {
    height: 80px;
    width: 80px
  }

  &-media a {
    margin: 5px;
    position: relative;
    z-index: 3
  }
}
