// Author Page
// -----------------------------------------------------------------------------
.author {
  &-avatar {
    height: 100px;
    width: 100px;
  }

  &-meta .button {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;

    &:hover { color: #fff; }
  }
}
