// Author Page
// -----------------------------------------------------------------------------
.author {
  &-avatar {
    height: 80px;
    width: 80px;
  }

  &-meta span {
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    word-wrap: break-word;
  }
}

@media #{$md-and-down} {
  .author-meta span { display: block; }
  .author-avatar { margin-top: 20px; }
}
