.homeHero {
  margin-bottom: 50px;

  &-container {
    // @extend %flex-justify-content-center;
    @extend %flex-direction-row;

    align-items: stretch;
    width: 100%;
    max-width: 1232px;

    .hh-author { display: none; }
  }

  // Card Left home
  &-largeCard {
    flex: 0 1 auto;
    margin-right: 24px;
    width: 100%;
  }

  &-mediumCard {
    flex: 0 1 auto;
    width: 100%;
    max-width: 300px;
    margin-left: 24px;
  }

  // small
  &-smallCardWrap {
    min-width: 370px;
  }

  &-smallCard {
    min-height: 100px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// home hero post (.hhp)
.hhp {
  &-img { height: 160px }

  &-title {
    @extend %lineClamp;

    margin-bottom: 10px;
    max-height: 85px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
  }

  &-excerpt {
    @extend %secondary-font;
    @extend %lineClamp;

    max-height: 4.4em;
    -webkit-line-clamp: 3;
    font-size: 17px;
  }

  // Small card
  &-smallCard {
    &-img {
      width: 33%;
      // height: 100px;
      margin-right: 20px;
    }

    &-title {
      @extend %lineClamp;

      font-size: 18px;
      margin-bottom: 10px;
      max-height: 2.1em;
      -webkit-line-clamp: 2;
    }

    &-body {
      min-width: 0;
      // width: 280px;
      justify-content: space-between;
    }
  }
}

@media #{$md-and-down} {
  .homeHero { margin-bottom: 40px; }
  .homeHero-container { flex-direction: column }
  .homeHero-largeCard { margin: 0 0 40px 0 }
  .homeHero-smallCardWrap { margin-right: 0; min-width: auto; }
  .hhp-img { height: 200px }
  .hhp-smallCard-body { flex: 1 1 auto; margin-right: 20px }
  .homeHero-smallCard { flex-direction: row-reverse }
  .hhp-smallCard-img { margin-right: 0 }
}
