.homeHero {
  &-container {
    @extend %flex-justify-content-center;
    @extend %flex-direction-row;

    align-items: stretch;
    width: 100%;
    max-width: 1232px;

    .hh-avatar { display: none; }
  }

  // Card Left home
  &-largeCard {
    flex: 0 1 auto;
    height: 100%;
    margin-right: 24px;
    width: 100%;
  }

  &-mediumCard {
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    max-width: 323px;
  }

  // small
  &-smallCardWrap {
    height: 100%;
    margin-right: 24px;
  }

  &-smallCard:not(:last-child) {
    margin-bottom: 20px;
  }
}

// home hero post (.hhp)
.hhp {
  &-img { height: 160px }

  &-title {
    margin-bottom: 10px;
    max-height: 84px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &-excerpt {
    overflow: hidden;
    max-height: 4.4em;
    // line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  // Small card
  &-smallCard {
    &-img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    &-title {
      overflow: hidden;
      margin-bottom: 5px;
      max-height: 2.1em;
      text-overflow: ellipsis;
      font-size: 1.1875rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &-body {
      min-width: 0;
      width: 265px;
      justify-content: space-between;
    }
  }
}

@media #{$md-and-down} {
  .homeHero-container { flex-direction: column }
  .homeHero-largeCard { margin-bottom: 40px }
  .homeHero-smallCardWrap { margin-right: 0 }
  .hhp-img { height: 200px }
  .hhp-smallCard-body { flex: 1 1 auto; margin-right: 20px }
  .homeHero-smallCard { flex-direction: row-reverse }
  .hhp-smallCard-img { margin-right: 0 }
}
