.spc {
  &-header {
    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
      z-index: 2;
    }

    &::before {
      height: 200px;
      top: 0;
      background-image: linear-gradient(to top, transparent, #18151f);
    }

    &::after {
      height: 300px;
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, #110f16);
    }
  }

  // Header
  &-h {
    &-inner {
      @extend %flex;
      @extend %flex-direction-column;
      @extend %flex-align-items-center;
      @extend %flex-justify-content-center;

      padding: calc(9vw + 55px) 4vw 120px;
      font-size: 1.25rem;
    }

    // title
    &-t {
      font-size: 4rem;
      color: inherit;
    }

    // excerpt
    &-e {
      color: #fecd35;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 5px;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  // Description
  &-des {
    margin: 40px auto 30px;
    line-height: 1.4;
    font-family: Georgia, 'Merriweather', serif;
    opacity: .8;

    em {
      font-style: italic;
      color: #fecd35;
    }
  }

  // Buttons
  &-buttons .button {
    background: hsla(0, 0%, 100%, .9);
    font-size: 1rem;

    &:hover {
      background: #fff;
      color: #000;
    }

    img {
      height: 20px;
      margin: 0 8px 0 0;
    }
  }
}

// Podcast card
// -----------------------------------------------------------------------------
.spc-c {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;

  &-img {
    min-height: 200px;
    width: 100%;
  }

  &-body {
    padding: 15px 20px;
    flex: 1 1 auto;
  }
}

// Button listen more
.listen-btn {
  border: 2px solid $primary-color;
  color: #006400;
  letter-spacing: 3px;
  border-radius: 0;
  line-height: 32px;
  background: #fff;
  font-size: 1rem;

  &:hover {
    color: #fff;
    background-color: #006400;
    transition: all .1s linear;
  }
}

@media #{$lg-and-up} {
  .spc-c {
    display: flex;

    &-img {
      width: 300px;
      flex: 0 0 auto;
    }
  }

  .spc-h-inner { font-size: 1.875rem; }
}
