/**
* 1. post
* 2. post body
* 3. Gallery and Image
*/

// 1. Post
// -----------------------------------------------------------------------------
.post {
  &-title {
    line-height: 1.04;
  }

  &-excerpt {
    @extend %secundary-font;

    font-size: $font-size-post-ecerpt;
    letter-spacing: 0.005em;
  }
}

// 2. post content body
// -----------------------------------------------------------------------------
.post-body {
  @extend %flex;
  @extend %flex-direction-column;
  @extend %flex-align-items-center;
  @extend %secundary-font;

  line-height: 1.6;
  font-size: $font-size-post;
  font-weight: 400;

  & > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 100%;

    &:first-child {
      margin-top: 2rem;
    }
  }

  a:not(.kg-bookmark-container) {
    box-shadow: inset 0 -2px 0 currentColor;
    text-decoration: none;
    word-break: break-word;
    transition: color 80ms ease-in, box-shadow 130ms ease-in-out;

    &:hover { color: #9a9a9a }
  }

  img:not(.kg-bookmark-icon) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    font-style: normal;
    //
    letter-spacing: -.03em;
    line-height: 1.04;
  }

  ul,
  ol {
    counter-reset: post;

    li {
      // line-height: 1.8;
      margin-bottom: 5px;
      margin-left: 30px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -22px;
        position: absolute;
        text-align: right;
      }
    }
  }

  ul > li::before {
    content: "\2022";
    opacity: .9;
    font-family: Georgia, Arial, system-ui; // stylelint-disable-line
    transform: scale(1.1);
  }

  ol > li::before {
    content: counter(post) ".";
    counter-increment: post;
    padding-right: 12px;
  }

  // stylelint-disable-next-line
  h1, h2, h3, h4, h5, h6 {
    & + p { margin-top: 0 }
  }
}

// fisrt p
// .post-body > p:first-of-type::first-letter {
//   float: left;
//   font-size: 64px;
//   font-style: normal;
//   font-weight: 700;
//   letter-spacing: -.03em;
//   line-height: .83;
//   margin-bottom: -.08em;
//   margin-left: -5px;
//   margin-right: 7px;
//   padding-top: 5px;
//   text-transform: uppercase;
// }

// 3. Gallery and Image
// -----------------------------------------------------------------------------
.kg-gallery {
  &-container {
    @extend %flex;
    @extend %flex-direction-column;

    max-width: 1100px;
    width: 100vw;
  }

  &-row {
    @extend %flex;
    @extend %flex-direction-row;
    @extend %flex-justify-content-center;

    &:not(:first-of-type) { margin: 0.75em 0 0 0 }
  }

  &-image {
    /* stylelint-disable-next-line */
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:first-of-type) { margin: 0 0 0 0.75em }
  }
}

.kg-embed-card, .kg-gallery-container {
  @extend %flex;
  @extend %flex-direction-column;
}

.kg-embed-card {
  @extend %flex-align-items-center;

  max-width: 100%;
}

.kg-width-full .kg-image { max-width: 100vw }
.kg-width-wide .kg-image { max-width: 1000px }

// Bookmark card
// -----------------------------------------------------------------------------
.kg-bookmark {
  &-container {
    @extend %primary-font;
    @extend %flex;
    @extend %box-shadow-card;
  }

  &-content {
    @extend .u-flexColumnTop;

    flex-grow: 1;
    flex-basis: 100%;
    padding: 20px;
  }

  &-title {
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.25rem;
  }

  &-description {
    @extend .u-lineClamp2;

    color: rgba(0, 0, 0, .54);
    line-height: 1.4;
    max-height: 4em;
    margin-top: 10px;
    font-size: 1rem;
  }

  &-metadata {
    @extend %flex;
    @extend %flex-align-items-center;

    font-size: 0.9375rem;
    color: rgba(0, 0, 0, .84);
  }

  &-thumbnail {
    flex-grow: 1;
    min-width: 33%;
    position: relative;
    min-height: 150px;
  }

  /* stylelint-disable-next-line */
  &-thumbnail img {
    @extend .u-absolute0;
    @extend .u-image;
  }

  &-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  &-author::after {
    content: "•";
    margin: 0 6px;
    color: rgba(0, 0, 0, 0.54);
  }
}

// Video Responsive
// -----------------------------------------------------------------------------
.video-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Sidebar Sticky
// -----------------------------------------------------------------------------
.post-sticky {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  //
  max-width: 118px;
  padding-top: 2rem;
}

.sticky-top-wrap {
  flex: 1;

  .sticky {
    position: sticky;
    top: 100px;
    bottom: 0;
    transition: visibility 0s linear 0s, opacity .3s 0s;
  }
}

.sticky.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .3s, opacity .3s 0s;
}

// post share
// -----------------------------------------------------------------------------
.post-share .button {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

// Post Actions
// -----------------------------------------------------------------------------
.pa {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .44);
  height: 44px;
  left: 0;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  transition: transform .3s;
  z-index: 20;

  &.is-visible { transform: translateY(0) }
  &-share { justify-content: flex-end }

  &-wrap {
    max-width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
    height: 44px;
  }

  .separator {
    background: rgba(0, 0, 0, .15);
    height: 24px;
    margin: 0 15px;
    width: 1px;
  }

  .button {
    margin-bottom: 0;
    height: 28px;
    line-height: 26px;
  }
}

.nextPost {
  max-width: 260px;
}

// Media Query
// -----------------------------------------------------------------------------

@media #{$md-and-down} {
  .post-body {
    font-size: 1.1rem;

    & > * {
      margin-top: 1.75rem;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 3rem;
    }

    h2 { font-size: 32px }
    h3 { font-size: 28px }
    h4 { font-size: 22px }

    q {
      font-size: 22px;
      letter-spacing: -.008em;
      line-height: 1.4;
    }

    iframe { width: 100% !important; }
  }

  // Image
  .kg-width-wide .kg-image { width: 100%; }

  .pa-share { justify-content: center }
}

@media #{$sm-and-down} {
  .kg-bookmark {
    &-container { flex-direction: column }
    &-content { order: 1 }
  }
}
