// pif => post image format
// -----------------------------------------------------------------------------

.pif {
  min-height: 460px;

  &-grad { background: rgba(0, 0, 0, 0.4) }

  .post-header { padding: 100px 10px 80px }
  .post-title { font-size: 50px }

  .post-title,
  .post-excerpt,
  .hh-author-name { color: #fff }

  .hh { margin-top: 40px; }

  .hh-date { color: rgba(255, 255, 255, 0.7) }
}

@media #{$lg-and-up} {
  .pif { min-height: 100vh }
  .pif-grad { height: 80%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) }
}
