// pif => post image format
// -----------------------------------------------------------------------------
.pif-wrap { min-height: 460px }
.pif-grad { background: rgba(0, 0, 0, 0.4) }

body.is-image {
  .post-header { padding: 100px 10px 80px }

  .post-title,
  .post-excerpt,
  .hh .u-textColorNormal,
  .hh-author-name { color: #fff }

  .hh { margin-top: 40px; }

  .hh .button--primary { border-color: #fff; color: #fff }
}

@media #{$lg-and-up} {
  .pif-wrap { min-height: 100vh }
  .pif-grad { height: 80%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) }
}
