<amp-sidebar id="sidenav" class="sidebar" layout="nodisplay" side="right">
    <div class="close-sidebar u-bgColor" role="button" aria-label="close sidebar" on="tap:sidenav.close" tabindex="0">✕</div>

    {{!-- Navigation  --}}
    {{navigation}}

    {{!-- Social media --}}
    <div class="social-media">
        {{#if @site.facebook}}
            <a href="{{facebook_url}}" target="_blank" rel="noopener noreferrer">{{> "amp/icon-facebook"}}</a>
        {{/if}}

        {{#if @site.twitter}}
            <a href="{{twitter_url}}" target="_blank" rel="noopener noreferrer">{{> "amp/icon-twitter"}}</a>
        {{/if}}

        {{!-- Instagram --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-instagram"}}</a> --}}

        {{!-- Youtube  --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-youtube"}}</a> --}}

        {{!-- Telegram --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-telegram"}}</a> --}}

        {{!-- SnapChap  --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-snapchap"}}</a> --}}
    </div>

</amp-sidebar>
