<amp-sidebar id="sidenav" class="sidebar flex flex-col" layout="nodisplay" side="right">
    <div class="sidebar-header h-16 flex justify-between items-center px-4 text-gray-500">
        <div class="text-lg">{{t "Menu"}}</div>
        <div class="close-sidebar" role="button" aria-label="close sidebar" on="tap:sidenav.close" tabindex="0">✕</div>
    </div>

    {{!-- Navigation --}}
    <div class="flex-auto">
        {{#if @site.navigation}}{{navigation navigationMobile=true}}{{/if}}
    </div>

    {{!-- Social media --}}
    <div class="social-media px-4">
        {{#if @site.facebook}}
            <a href="{{facebook_url}}" target="_blank" rel="noopener noreferrer">{{> "amp/icon-facebook"}}</a>
        {{/if}}

        {{#if @site.twitter}}
            <a href="{{twitter_url}}" target="_blank" rel="noopener noreferrer">{{> "amp/icon-twitter"}}</a>
        {{/if}}

        {{!-- Instagram --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-instagram"}}</a> --}}

        {{!-- Youtube  --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-youtube"}}</a> --}}

        {{!-- Telegram --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-telegram"}}</a> --}}

        {{!-- SnapChap  --}}
        {{!-- <a href="" target="_blank" rel="noopener noreferrer">{{> "amp/icon-snapchap"}}</a> --}}
    </div>

</amp-sidebar>
