// 1. Colors
// ==========================================================================

$primary-color: #00A034;
// $primary-color-hover: #00ab6b;

$newsletter-color: #3aa14d;

$primary-text-color:   rgba(0, 0, 0, .84);

// social colors
$social-colors: (
  facebook:   #3b5998,
  twitter:    #55acee,
  // google:     #dd4b39,
  // instagram:  #306088,
  // youtube:    #e52d27,
  // github:     #555,
  linkedin:   #007bb6,
  // spotify:    #2ebd59,
  // codepen:    #222,
  // behance:    #131418,
  // dribbble:   #ea4c89,
  // flickr:     #0063dc,
  reddit:     #ff4500,
  pocket:     #f50057,
  pinterest:  #bd081c,
  whatsapp:   #64d448,
  // telegram:   #08c,
  // rss:          orange,
);

// 2. Fonts
// ==========================================================================

//$primary-font:    'Source Sans Pro', Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; // font default page and titles
//$secundary-font: 'PT Serif', Mercury SSm A,Mercury SSm B,Georgia,serif; // font for content

// font default page and titles
$primary-font:    'Inter', Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

// font for content
$secundary-font: 'Domine', Mercury SSm A,Mercury SSm B,Georgia,serif;

//  3. Buttons And Inputs
// -----------------------------------------------------------------------------
$input-height: 37px;
$input-height-large: 44px;

$button-height: 37px;

$button-color: rgba(0, 0, 0, .68);
$button-color-background: rgba(0, 0, 0, .05);

$button-hover-color: rgba(0, 0, 0, .68);
$button-hover-color-background: rgba(0, 0, 0, .1);

$button-filled-background: #1C9963;

// 3. Typography
// ==========================================================================

$font-size-root:  16px;

$font-size-h1:    2.375rem;
$font-size-h2:    2.125rem;
$font-size-h3:    1.875rem;
$font-size-h4:    1.625rem;
$font-size-h5:    1.5rem;
$font-size-h6:    1.25rem;

$headings-font-family:     $primary-font;
$headings-font-weight:     700;
$headings-line-height:     1.1;
$headings-color: #121212;
// Container
// ==========================================================================

$grid-gutter-width:        24px;

$container-sm:             576px;
$container-md:             767px;
$container-lg:             970px;
$container-xl:             1200px;

// Header
// ==========================================================================
$header-color: #000;
$header-color-hover: #555;
$header-height: 60px;

// Post
// ==========================================================================
$font-size-post: 1.25rem;
$font-size-post-ecerpt: 1.5rem;

// 3. Media Query Ranges
// ==========================================================================
$num-cols: 12;
$container-gutter-width: 12px;

// 3. Media Query Ranges
// ==========================================================================

$sm:            640px;
$md:            766px;
$lg:            1000px;
$xl:            1230px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm})";
$md-and-down:   "only screen and (max-width : #{$md})";
$lg-and-down:   "only screen and (max-width : #{$lg})";
