
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, .8);
  font-family: $secundary-font;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -.003em;
  line-height: 1.58;
  margin-left: -23px;
  padding-bottom: 2px;
  padding-left: 20px;

  p:first-of-type { margin-top: 0 }
}

body {
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

//Default styles
html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

figure {
  margin: 0;
}

// Code
// ==========================================================================
kbd, samp, code {
  background: $code-bg-color;
  border-radius: 4px;
  color: $code-color;
  font-family: $code-font !important;
  font-size: $font-size-code;
  padding: 4px 6px;
  white-space: pre-wrap;
}

pre {
  background-color: $code-bg-color !important;
  border-radius: 4px;
  font-family: $code-font !important;
  font-size: $font-size-code;
  margin-top: 30px !important;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  word-wrap: normal;

  code {
    background: transparent;
    color: $pre-code-color;
    padding: 0;
    text-shadow: 0 1px #fff;
  }
}

code[class*=language-],
pre[class*=language-] {
  color: $pre-code-color;
  line-height: 1.4;

  .token.comment { opacity: .8; }
}

// hr
// ==========================================================================
hr {
  border: 0;
  display: block;
  margin: 50px auto;
  text-align: center;

  &::before {
    color: rgba(0, 0, 0, .6);
    content: '...';
    display: inline-block;
    font-family: $primary-font;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .6em;
    position: relative;
    top: -25px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;

  &:not([src]) {
    visibility: hidden;
  }
}

i {
  // display: inline-block;
  vertical-align: middle;
}

ol, ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

mark {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(215, 253, 211, 1), rgba(215, 253, 211, 1));
  color: rgba(0, 0, 0, .8);
}

q {
  color: rgba(0, 0, 0, .44);
  display: block;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -.014em;
  line-height: 1.48;
  padding-left: 50px;
  padding-top: 15px;
  text-align: left;

  &::before, &::after { display: none; }
}

// Links color
// ==========================================================================
.link--accent { @extend %link--accent; }

.link { @extend %link; }

.link--underline {
  &:active,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

// Animation main page and footer
// ==========================================================================
.main,
.footer { transition: transform .5s ease; }

@media #{$md-and-down} {
  .main {
    overflow: hidden;
    padding-top: $header-height-mobile;
  }
}

// warning success and Note
// ==========================================================================
.warning {
  background: #fbe9e7;
  color: #d50000;
  &::before { content: $i-warning; }
}

.note {
  background: #e1f5fe;
  color: #0288d1;
  &::before { content: $i-star; }
}

.success {
  background: #e0f2f1;
  color: #00897b;
  &::before { color: #00bfa5; content: $i-check; }
}

.warning, .note, .success {
  display: block;
  font-size: 18px !important;
  line-height: 1.58 !important;
  margin-top: 28px;
  padding: 12px 24px 12px 60px;

  a {
    color: inherit;
    text-decoration: underline;
  }

  &::before {
    @extend %fonts-icons;

    float: left;
    font-size: 24px;
    margin-left: -36px;
    margin-top: -5px;
  }
}

// Page Tags
// ==========================================================================
.tag {
  color: #fff;
  min-height: 300px;
  z-index: 2;

  &-wrap { z-index: 2; }

  &.not--image {
    @extend %u-text-color-darker;

    min-height: auto;
  }

  &-description {
    max-width: 500px;
  }
}

// toltip
// ==========================================================================
.with-tooltip {
  overflow: visible;
  position: relative;

  &::after {
    background: rgba(0, 0, 0, .85);
    border-radius: 4px;
    color: #fff;
    content: attr(data-tooltip);
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    left: 50%;
    line-height: 1.25;
    min-width: 130px;
    opacity: 0;
    padding: 4px 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-transform: none;
    top: -30px;
    will-change: opacity, transform;
    z-index: 1;
  }

  &:hover::after {
    animation: tooltip .1s ease-out both;
  }
}

// Footer
// ==========================================================================
.footer {
  color: rgba(0, 0, 0, .44);
  padding-bottom: 45px;

  .follow {
    display: block;
    text-align: center;

    a {
      @extend %u-text-color-darker;

      padding: 0 7px;

      &:hover { color: rgba(0, 0, 0, 0.6) !important }
    }
  }

  a {
    color: rgba(0, 0, 0, .6);
    &:hover { @extend %u-text-color-darker; }
  }
}

// Instagram Fedd
// ==========================================================================
.instagram {
  &-img {
    height: 264px;

    &:hover > .instagram-hover { opacity: 1 }
  }

  &-hover {
    background-color: rgba(0, 0, 0, .3);
    // transition: opacity 1s ease-in-out;
    opacity: 0;
  }

  &-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    a {
      background-color: #fff;
      color: #000 !important;
      font-size: 20px !important;
      font-weight: 600 !important;
      min-width: 200px;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center !important;
    }
  }

  &-col {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// Error page
// ==========================================================================
.errorPage {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  width: 100%;

  &-link {
    left: -5px;
    padding: 24px 60px;
    top: -6px;
  }

  &-text {
    margin-top: 60px;
    white-space: pre-wrap;
  }

  &-wrap {
    color: rgba(0, 0, 0, .4);
    left: 50%;
    min-width: 680px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Video Responsive
// ==========================================================================
.video-responsive {
  display: block;
  height: 0;
  margin-top: 30px;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Social Media Color
// ==========================================================================
@each $social-name, $color in $social-colors {
  .c-#{$social-name} { color: $color !important; }
  .bg-#{$social-name} { background-color: $color !important; }
}

// Facebook Save
// ==========================================================================
// .fbSave {
//   &-dropdown {
//     background-color: #fff;
//     border: 1px solid #e0e0e0;
//     bottom: 100%;
//     display: none;
//     max-width: 200px;
//     min-width: 100px;
//     padding: 8px;
//     transform: translate(-50%, 0);
//     z-index: 10;

//     &.is-visible { display: block; }
//   }
// }

// Rocket for return top page
// ==========================================================================
.rocket {
  bottom: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 60px;
  z-index: 888;

  &:hover svg path {
    fill: rgba(0, 0, 0, .6);
  }
}

.svgIcon {
  display: inline-block;
}

svg {
  height: auto;
  width: 100%;
}

// Load More
// ==========================================================================
.loadMore {
  display: block;
  font-size: 15px;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 10px;
  text-align: center;
}

.loadingBar {
  background-color: #48e79a;
  display: none;
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  z-index: 800;
}

.is-loading .loadingBar {
  animation: loading-bar 1s ease-in-out infinite;
  animation-delay: .8s;
  display: block;
}
