%link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

%link--accent {
  color: $primary-color;
  &:hover {color: $primary-color-dark;}
}

%content-absolute-bottom {
  bottom: 0;
  left: 0;
  margin: 30px;
  max-width: 600px;
  position: absolute;
  z-index: 2;
}

%u-absolute0 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

%u-text-color-darker {
  color: rgba(0, 0, 0, .8) !important;
  fill: rgba(0, 0, 0, .8) !important;
}

%fonts-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simply' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
