// color
.u-textColorNormal {
  // color: rgba(0, 0, 0, .44) !important;
  // fill: rgba(0, 0, 0, .44) !important;
  color: rgba(0, 0, 0, .54);
  fill: rgba(0, 0, 0, .54);
}

.u-textColorWhite {
  color: #fff;
  fill: #fff;
}

.u-hoverColorNormal:hover {
  color: rgba(0, 0, 0, .7);
  fill: rgba(0, 0, 0, .7);
}

.u-accentColor--iconNormal {
  color: $primary-color;
  fill: $primary-color;
}

//  background color
.u-bgColor { background-color: $primary-color; }

// .u-headerColorLink a {
//   // color: rgba(0, 0, 0, .44);
//   color: $header-color;

//   &.active,
//   &:hover {
//     // color: $header-
//     color: $header-color-hover;
//   }
// }

.u-textColorDarker { @extend %u-text-color-darker; }

// Positions
.u-relative { position: relative; }
.u-absolute { position: absolute; }
.u-absolute0 { @extend %u-absolute0; }
.u-fixed { position: fixed !important; }

.u-block { display: block !important }
.u-inlineBlock { display: inline-block }

//  Background
.u-backgroundDark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
  // background-color: #000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

// .u-background-white { background-color: #eeefee; }
.u-bgWhite { background-color: #fafafa; }
.u-bgColorGrayLight { background-color: #f0f0f0 }

// Clear
.u-clear::after {
  content: "";
  display: table;
  clear: both;
}

// zindex
.zindex1 { z-index: 1 }
.zindex2 { z-index: 2 }
.zindex3 { z-index: 3 }
.zindex4 { z-index: 4 }

// font size
.u-fontSizeMicro { font-size: 11px }
.u-fontSizeSmallest { font-size: 12px }
.u-fontSize13 { font-size: 13px }
.u-fontSizeSmaller { font-size: 14px }
.u-fontSize15 { font-size: 15px }
.u-fontSizeSmall { font-size: 16px }
.u-fontSizeBase { font-size: 18px }
.u-fontSize20 { font-size: 20px }
.u-fontSize21 { font-size: 21px }
.u-fontSize22 { font-size: 22px }
.u-fontSizeLarge { font-size: 24px }
.u-fontSize28 { font-size: 28px }
.u-fontSizeLarger { font-size: 32px }
.u-fontSize36 { font-size: 36px }
.u-fontSize40 { font-size: 40px }
.u-fontSizeLargest { font-size: 44px }
.u-fontSizeJumbo { font-size: 50px }

@media #{$md-and-down} {
  .u-md-fontSizeBase { font-size: 18px !important }
  .u-md-fontSizeLarger { font-size: 32px !important }
}

.u-contentTitle {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.015em;
}

// @media (max-width: 767px) {
//   .u-xs-fontSizeBase {font-size: 18px}
//   .u-xs-fontSize13 {font-size: 13px}
//   .u-xs-fontSizeSmaller {font-size: 14px}
//   .u-xs-fontSizeSmall {font-size: 16px}
//   .u-xs-fontSize22 {font-size: 22px}
//   .u-xs-fontSizeLarge {font-size: 24px}
//   .u-xs-fontSize40 {font-size: 40px}
//   .u-xs-fontSizeLarger {font-size: 32px}
//   .u-xs-fontSizeSmallest {font-size: 12px}
// }

// font weight
.u-fontWeightThin { font-weight: 300 }
.u-fontWeightNormal { font-weight: 400 }
// .u-fontWeightMedium { font-weight: 500 }
.u-fontWeightSemibold { font-weight: 600 }
.u-fontWeightBold { font-weight: 700 }

.u-textUppercase { text-transform: uppercase }
.u-textCapitalize { text-transform: capitalize }
.u-textAlignCenter { text-align: center }

.u-noWrapWithEllipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// Margin
.u-marginAuto { margin-left: auto; margin-right: auto; }
.u-marginTop20 { margin-top: 20px }
.u-marginTop30 { margin-top: 30px }
.u-marginBottom15 { margin-bottom: 15px }
.u-marginBottom20 { margin-bottom: 20px }
.u-marginBottom30 { margin-bottom: 30px }
.u-marginBottom40 { margin-bottom: 40px }

// padding
// .u-padding0 { padding: 0 !important }
.u-padding20 { padding: 20px }
.u-padding15 { padding: 15px }
// .u-paddingBottom2 { padding-bottom: 2px; }
.u-paddingBottom30 { padding-bottom: 30px; }
.u-paddingBottom20 { padding-bottom: 20px }
.u-paddingBottom15 { padding-bottom: 15px; }
.u-paddingBottom10 { padding-bottom: 10px; }
.u-paddingRight10 { padding-right: 10px }
.u-paddingLeft15 { padding-left: 15px }

// .u-paddingTop2 { padding-top: 2px }
// .u-paddingTop5 { padding-top: 5px; }
.u-paddingTop10 { padding-top: 10px; }
.u-paddingTop15 { padding-top: 15px; }
.u-paddingTop20 { padding-top: 20px; }
.u-paddingTop30 { padding-top: 30px; }

.u-paddingRight20 { padding-right: 20px }
.u-paddingLeft20 { padding-left: 20px }

// line-height
.u-lineHeight1 { line-height: 1; }
.u-lineHeightTight { line-height: 1.2 }

// overflow
.u-overflowHidden { overflow: hidden }

// float
.u-floatRight { float: right; }
.u-floatLeft { float: left; }

//  flex
.u-flex { display: flex; }
.u-flexCenter { align-items: center; display: flex; }
// .u-flex--1 { flex: 1 }
.u-flex1 { flex: 1 1 auto; }
.u-flex0 { flex: 0 0 auto; }
.u-flexWrap { flex-wrap: wrap }

.u-flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-flexEnd {
  align-items: center;
  justify-content: flex-end;
}

.u-flexColumnTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// Background
.u-bgCover {
  background-origin: border-box;
  background-position: 50% 50%;
  background-size: cover;
}

// max widht
.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-gutter-width;
  padding-right: $container-gutter-width;
}

.u-maxWidth1200 { max-width: 1200px }
.u-maxWidth1000 { max-width: 1000px }
.u-maxWidth740 { max-width: 740px }
.u-maxWidth1040 { max-width: 1040px }
.u-sizeFullWidth { width: 100% }

// border
.u-borderLighter { border: 1px solid rgba(0, 0, 0, .05) }
.u-round { border-radius: 50% }
// .u-borderRadius2 { border-radius: 2px }

.u-boxShadowBottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .05);
}

// Heinght
// .u-height540 { height: 540px }
// .u-height280 { height: 280px }
// .u-height260 { height: 260px }
// .u-height100 { height: 100px }
// .u-borderBlackLightest { border: 1px solid rgba(0, 0, 0, .1) }

// hide global
.u-hide { display: none !important }

// card
.u-card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.no-avatar {
  background-image: url('../images/avatar.png') !important
}

@media #{$md-and-down} {
  .u-hide-before-md { display: none !important }
  // .u-md-heightAuto { height: auto; }
  // .u-md-height170 { height: 170px }
  // .u-md-relative { position: relative }
}

@media #{$lg-and-down} { .u-hide-before-lg { display: none !important } }

// hide after
@media #{$md-and-up} { .u-hide-after-md { display: none !important } }

@media #{$lg-and-up} { .u-hide-after-lg { display: none !important } }
