// color
.u-textColorNormal {
  color: rgba(0, 0, 0, .44);
  fill: rgba(0, 0, 0, .44);
}

.u-hoverColorNormal:hover {
  color: rgba(0, 0, 0, .6);
  fill: rgba(0, 0, 0, .6);
}

//  background color
.u-bgColor { background-color: $primary-color; }

.u-headerColorLink a {
  color: $header-color;
  &.active,
  &:hover { color: $header-color-hover; }

}

.u-textColorDarker {@extend %u-text-color-darker;}

// Positions
.u-relative { position: relative; }
.u-absolute { position: absolute; }
.u-absolute0 { @extend %u-absolute0;}

.u-block {display: block !important}

//  Background
.u-backgroundDark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .6) 81%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

// .u-background-white { background-color: #eeefee; }
.u-backgroundWhite {background-color: #fafafa;}
.u-backgroundColorGrayLight {background-color: #f0f0f0 !important;}

// Clear
.u-clear {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {clear: both;}
}

// font size
.u-fontSize13 {font-size: 13px}
.u-fontSize15 {font-size: 15px}
.u-fontSize20 {font-size: 20px}
.u-fontSize22 {font-size: 22px}
.u-fontSize28 {font-size: 28px !important;}
.u-fontSize36 {font-size: 36px}
.u-fontSize40 {font-size: 40px}
.u-fontSizeBase {font-size: 18px}
.u-fontSizeJumbo {font-size: 50px}
.u-fontSizeLarge {font-size: 24px !important}
.u-fontSizeLarger {font-size: 32px}
.u-fontSizeLargest {font-size: 44px}
.u-fontSizeMicro {font-size: 11px}
.u-fontSizeSmall {font-size: 16px}
.u-fontSizeSmaller {font-size: 14px}
.u-fontSizeSmallest {font-size: 12px}

@media #{$md-and-down} {
  .u-md-fontSizeBase {font-size: 18px !important}
  .u-md-fontSizeLarger {font-size: 32px}
}

// @media (max-width: 767px) {
//   .u-xs-fontSizeBase {font-size: 18px}
//   .u-xs-fontSize13 {font-size: 13px}
//   .u-xs-fontSizeSmaller {font-size: 14px}
//   .u-xs-fontSizeSmall {font-size: 16px}
//   .u-xs-fontSize22 {font-size: 22px}
//   .u-xs-fontSizeLarge {font-size: 24px}
//   .u-xs-fontSize40 {font-size: 40px}
//   .u-xs-fontSizeLarger {font-size: 32px}
//   .u-xs-fontSizeSmallest {font-size: 12px}
// }

// font weight
.u-fontWeightThin {font-weight: 300}
.u-fontWeightNormal {font-weight: 400}
.u-fontWeightMedium {font-weight: 500}
.u-fontWeightSemibold {font-weight: 600}
.u-fontWeightBold {font-weight: 700 !important}

.u-textUppercase {text-transform: uppercase}
.u-textAlignCenter {text-align: center}


.u-noWrapWithEllipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// Margin
.u-marginAuto { margin-left: auto; margin-right: auto;}
.u-marginTop30 {margin-top: 30px}
.u-marginBottom15 {margin-bottom: 15px}
.u-marginBottom20 {margin-bottom: 20px !important}
.u-marginBottom30 {margin-bottom: 30px}
.u-marginBottom40 {margin-bottom: 40px}

// padding
.u-padding0 {padding: 0 !important}
.u-padding15 {padding: 15px !important;}
.u-paddingBottom2 { padding-bottom: 2px;}
.u-paddingBottom30 { padding-bottom: 30px;}
.u-paddingBottom20 {padding-bottom: 20px}

.u-paddingTop5 { padding-top: 5px;}
.u-paddingTop10 {padding-top: 10px;}
.u-paddingTop15 {padding-top: 15px;}
.u-paddingTop20 {padding-top: 20px;}
.u-paddingTop30 {padding-top: 30px;}

.u-paddingBottom15 {padding-bottom: 15px;}

.u-paddingRight20 {padding-right: 20px}
.u-paddingLeft20 {padding-left: 20px}

.u-contentTitle {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.028em;
}

// line-height
.u-lineHeight1 {line-height: 1;}

// overflow
.u-overflowHidden {overflow: hidden}

// float
.u-floatRight { float: right; }
.u-floatLeft { float: left; }

//  flex
.u-flex { display: flex; }
.u-flexCenter { align-items: center; display: flex; }
.u-flex1 { flex: 1 1 auto; }
.u-flex0 { flex: 0 0 auto; }
.u-flexWrap {flex-wrap: wrap}

.u-flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-flexEnd {
  align-items: center;
  justify-content: flex-end;
}

// Background
.u-backgroundSizeCover {
  background-origin: border-box;
  background-position: center;
  background-size: cover;
}

// max widht
.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.u-maxWidth1000 { max-width: 1000px;}
.u-maxWidth740 {max-width: 740px;}
.u-maxWidth1040 { max-width: 1040px;}
.u-sizeFullWidth {width: 100%}

// border
.u-borderLighter { border: 1px solid rgba(0, 0, 0, .15);}
.u-round {border-radius: 50%}
.u-borderRadius2 {border-radius: 2px}


// card
.u-card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  margin-bottom: 10px;
  padding: 10px 20px 15px;

  &--p {
    font-family: $secundary-font;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.004em;
    line-height: 1.58;
  }
}

.u-boxShadowBottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .05);
}

// hide global
.u-hide {display: none !important}
// hide before
@media #{$md-and-down} {.u-hide-before-md {display: none !important} }
@media #{$lg-and-down} {.u-hide-before-lg {display: none !important} }

// hide after
@media #{$md-and-up} {.u-hide-after-md {display: none !important} }
@media #{$lg-and-up} {.u-hide-after-lg {display: none !important} }
