// 1. Colors
// ==========================================================================

$primary-color: #00A034;
$primary-color-hover: #00ab6b;

// $primary-color: #33668c;
$primary-color-dark:   #1976d2;

$primary-text-color:   rgba(0, 0, 0, .8);


// $primary-color-light:
// $primary-color-text:
// $accent-color:
// $primary-text-color:
// $secondary-text-color:
// $divider-color:

// social colors
$social-colors: (
  facebook:   #3b5998,
  twitter:    #55acee,
  google:     #dd4b39,
  instagram:  #306088,
  youtube:    #e52d27,
  github:     #333,
  linkedin:   #007bb6,
  spotify:    #2ebd59,
  codepen:    #222,
  behance:    #131418,
  dribbble:   #ea4c89,
  flickr:     #0063dc,
  reddit:     #ff4500,
  pocket:     #f50057,
  pinterest:  #bd081c,
);

// 2. Fonts
// ==========================================================================

$primary-font:    'Source Sans Pro', sans-serif; // font default page and titles
$secundary-font:  'Droid Serif', serif; // font for content
$code-font:       'Source Code Pro', monospace; // font for code and pre

// 3. Typography
// ==========================================================================

$spacer:          16px;
$line-height:     1.5;

$font-size-root:  16px;

$font-size-base:  18px;
$font-size-lg:    32px;
$font-size-sm:    .875rem; //14px
$font-size-xs:    .8125; //13px

$font-size-h1:    2.25rem;
$font-size-h2:    1.875rem;
$font-size-h3:    1.5625rem;
$font-size-h4:    1.375rem;
$font-size-h5:    1.125rem;
$font-size-h6:    1rem;


$headings-margin-bottom:   ($spacer / 2);
$headings-font-family:     $primary-font;
$headings-font-weight:     600;
$headings-line-height:     1.1;
$headings-color:           inherit;

$font-weight:              600;

$blockquote-font-size:     1.125rem;

// Container
// ==========================================================================

$grid-gutter-width:        24px;

$container-sm:             576px;
$container-md:             767px;
$container-lg:             970px;
$container-xl:             1200px;

// 3. Media Query Ranges
// ==========================================================================

$header-wrap: 1200px;

// 3. Media Query Ranges
// ==========================================================================

$num-cols: 12;
$gutter-width: 24px;
$element-top-margin: $gutter-width / 3;
$element-bottom-margin: ($gutter-width * 2) / 3;

// 3. Media Query Ranges
// ==========================================================================

$sm:            640px;
$md:            766px;
$lg:            1000px;
$xl:            1230px;

$sm-and-up:     "only screen and (min-width : #{$sm})";
$md-and-up:     "only screen and (min-width : #{$md})";
$lg-and-up:     "only screen and (min-width : #{$lg})";
$xl-and-up:     "only screen and (min-width : #{$xl})";

$sm-and-down:   "only screen and (max-width : #{$sm})";
$md-and-down:   "only screen and (max-width : #{$md})";
$lg-and-down:   "only screen and (max-width : #{$lg})";


// Code Color
$code-bg-color:   #f7f7f7;
$font-size-code:  16px;
$code-color:      #c7254e;
$pre-code-color:  #37474f;

// icons

$i-code: "\f121";
$i-warning: "\e002";
$i-check: "\e86c";
$i-star: "\e838";
