// sft (simply footer )
.footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 4% 0;

  a:hover:not(.button) { color: #fff }
  &-items p { padding-bottom: 10px }

  // title
  &-items-title {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 500;
  }

  &-tags .button {
    color: #7C8881;
    border-color: #7C8881;
  }
}

// Footer Subscribe
// -----------------------------------------------------------------------------

.f-form {
  &-input {
    background-color: $footer-bg-input-color;
    color: $footer-color-input;
    border-color: transparent;
  }

  // Error
  &.error,
  &.invalid {
    .message-error {
      color: #ec694b;
      display: block !important;
      padding: 5px;
    }
  }

  // success
  &.success .message-success {
    color: #acd053;
    display: block !important;
    padding: 5px;
  }

  // Animation Loafing
  &.loading {
    .button-text { display: none }

    .icon--loader {
      display: inline-block !important;
      animation: spin .8s linear infinite;
    }
  }
}
