.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-post {
  padding-top: 60px;
  padding-bottom: 60px;

  &-bg {
    background-color: #FAFAFA;
    border: 1px solid #E2E2E2;
  }
}

@media #{$lg-and-up} {
  .col-left { flex-basis: calc(100% - 360px) !important }
  .sidebar { width: 340px; margin-left: auto; }
  .container { max-width: 1100px + ($container-gutter-width * 2); }
}

.row {
  @extend %flex-direction-row;
  // display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: - $container-gutter-width;
  margin-right: - $container-gutter-width;

  .col {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding-left: $container-gutter-width;
    padding-right: $container-gutter-width;

    $i: 1;

    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");

      &.s#{$i} {
        flex-basis: $perc;
        max-width: $perc;
      }

      $i: $i + 1;
    }

    @media #{$md-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.m#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }

    @media #{$lg-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.l#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }
  }

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
