.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// .row {
//   @extend %flex;
//   @extend %flex-direction-row;

//   flex-wrap: wrap;
//   justify-content: space-between;

//   .col {
//     flex: 0 0 auto;

//     &.s12 { flex-basis: 100% }
//     &.s6 { flex-basis: 50% }
//     &.s3 { flex-basis: 33.333% }

//     @media #{$md-and-up} {
//       &.m6 { flex-basis: 49% }
//     }

//     @media #{$lg-and-up} {
//       &.l2 { flex-basis: 16.6666% }
//       &.l4 { flex-basis: 32.33333% }
//       &.l12 { flex-basis: 100% }
//     }
//   }
// }

@media #{$lg-and-up} {
  .col-left { flex-basis: calc(100% - 360px) !important }
  .sidebar { width: 300px; }
  .container { max-width: 1100px; }
}

.row {
  @extend %flex;
  @extend %flex-direction-row;
  // display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: - $container-gutter-width;
  margin-right: - $container-gutter-width;

  .col {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding-left: $container-gutter-width;
    padding-right: $container-gutter-width;

    $i: 1;

    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");

      &.s#{$i} {
        flex-basis: $perc;
        max-width: $perc;
      }

      $i: $i + 1;
    }

    @media #{$md-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.m#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }

    @media #{$lg-and-up} {

      $i: 1;

      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");

        &.l#{$i} {
          flex-basis: $perc;
          max-width: $perc;
        }

        $i: $i + 1;
      }
    }
  }
}
