/**
  * 1. header
  * 2. Main Menu
  * 3. Hamburger Button Toggle Menu
  * 4. Header Social Media
  * 7. breakpoints
  */

// 1. Header
// -----------------------------------------------------------------------------
.header {
  height: $header-height;
  top: 0;
  position: sticky;
  transition: transform .3s;
  z-index: 20;
  // box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  border-bottom: 1px solid #ddd;
  // transform: translateY(0);

  &-left { margin-right: 20px }

  &-action {
    margin-left: 15px;

    a {
      padding: 10px 7px;
    }

    .icon {
      height: 28px;
      width: 28px;
    }
  }
  // &.is-visible { transform: translateY(-100%) }

  &-logo {
    color: #000;
    height: 30px;

    img { height: 100% }
  }

  // .nav-search { padding: 10px 0 10px 7px }
}

// 2. Main Menu
// -----------------------------------------------------------------------------
.mainMenu ul {
  @extend %flex;
  // display: flex;
  overflow: hidden;
  white-space: nowrap;

  li {
    a {
      padding: 12px;
      font-weight: 500;
      font-size: 1rem;
    }
    // &:first-child a { padding-left: 0 }
  }
}

// 3. Hamburger Button for Toggle menu
// -----------------------------------------------------------------------------
.menu-burger {
  height: 48px;
  margin-right: -$container-gutter-width;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $header-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// 4. Header Social Media
// -----------------------------------------------------------------------------

.social-media > a { padding: 10px 7px } /* stylelint-disable-line */

// Collection Header only for Home Page
// -----------------------------------------------------------------------------
.cHeader {
  height: 250px;
  padding: 20px 0;

  &-logo-img { height: 60px; }
}

// Blog Header
// -----------------------------------------------------------------------------

.subscribeBanner {
  // margin-top: 70px;
  padding: 20px 0;
  background: #F0FCF5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &-title {
    margin-right: 20px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 2px;
      height: 24px;
      background-color: $primary-color;
      transform: translateY(-50%);
    }
  }
}

// Category Nav for top page
// -----------------------------------------------------------------------------

.secondaryMenu {
  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 5px 10px 5px 0;

      a {
        color: $secondary-menu-color;
        display: inline-block;
        font-size: 14px;
        padding: 6px 10px;
        text-transform: uppercase;

        &.nav-current,
        &:hover {
          color: $secondary-menu-color-hover;
        }

        &.nav-current { font-weight: 500 }
      }
    }
  }
}

// 5. Header breakpoints media query down Medium
// -----------------------------------------------------------------------------

@media #{$md-and-down} {
  .subscribeBanner {
    h4::after { display: none }
    .col.m8 { margin-bottom: 20px; }
  }

  .secondaryMenu ul li a { border: 1px solid $category-nav-border-color; }
}

// 5. Header breakpoints media query down large
// -----------------------------------------------------------------------------
@media #{$lg-and-down} {
  .header-left { flex: 1 1 auto }
  .header .social-media { display: none; }

  // show menu mobile
  body.has-menu {
    overflow: hidden;

    .sideNav { transform: translateX(0) }

    .menu-burger {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .nav .search-toggle { display: none; }
    .main, .footer { transform: translateX(-25%); }
  }
}
