/**
  * 1. header
  * 2. Main Menu
  * 3. Hamburger Button Toggle Menu
  * 4. Header Social Media
  * 7. breakpoints
  */

// 1. Header
// -----------------------------------------------------------------------------
.header {
  height: $header-height;
  top: 0;
  position: sticky;
  transition: transform .3s;
  z-index: 20;
  // box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  border-bottom: 1px solid #ddd;

  &-left { margin-right: 20px }
  &.nav-up { transform: translateY(-100%) }

  &-logo {
    color: #000;
    height: 30px;

    img { height: 100% }
  }

  .nav-search { padding: 10px 0 10px 7px }
}

// 2. Main Menu
// -----------------------------------------------------------------------------
.mainMenu {
  @extend %flex;
  // display: flex;
  overflow: hidden;
  white-space: nowrap;

  li {
    a {
      padding: 12px;
      font-weight: 600;
      font-size: 1rem;
    }
    // &:first-child a { padding-left: 0 }
  }
}

// 3. Hamburger Button for Toggle menu
// -----------------------------------------------------------------------------
.menu-burger {
  height: 48px;
  margin-right: -$container-gutter-width;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $header-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// 4. Header Social Media
// -----------------------------------------------------------------------------

.social-media > a { padding: 10px 7px } /* stylelint-disable-line */

// Collection Header only for Home Page
// -----------------------------------------------------------------------------
.cHeader {
  height: 250px;
  padding: 20px 0;

  &-logo-img { height: 60px; }
}

// 5. Header breakpoints media query down large
// -----------------------------------------------------------------------------
@media #{$lg-and-down} {
  .header-left { flex: 1 1 auto }
  .header .social-media { display: none; }

  // show menu mobile
  body.has-menu {
    overflow: hidden;

    .sideNav { transform: translateX(0) }

    .menu-burger {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .nav .search-toggle { display: none; }
    .main, .footer { transform: translateX(-25%); }
  }
}
