.sidebar {
  /* stylelint-disable-next-line */
  &-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    span { padding-bottom: 10px; display: inline-block; }
  }
}

//Sidebar Post
.sp {
  margin-bottom: 24px;

  // Number
  &-n { color: rgba(0, 0, 0, .15); }

  // title
  &-t {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.4;
  }

  &:hover .sp-t { text-decoration: underline }

  .icon {
    height: 12px;
    margin-top: -5px;
  }
}
