/* Variables and Root
/* ---------------------------------------------------------- */
@import "./abstracts/variables.css";
@import "./base/root.css";

/* base
/* ---------------------------------------------------------- */

@import "tailwindcss/base";
@import "./abstracts/extend.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/global.css";

@import "./abstracts/mixins.css";
@import "./abstracts/constrols.css";

/* Components
/* ---------------------------------------------------------- */

@import "tailwindcss/components";

/* Elements
/* ---------------------------------------------------------- */

@import "./elements/form.css";
@import "./elements/buttons.css";
@import "./elements/icon.css";
@import "./elements/table.css";

/* Components
/* ---------------------------------------------------------- */

@import "./components/dropdown.css";
@import "./components/story.css";
@import "./components/code.css";
/* @import "./components/modal.css"; */

/* Pages
/* ---------------------------------------------------------- */

@import "./pages/post.css";
@import "./pages/kusi-doc-post.css";
@import "./pages/podcast.css";

/* Cards
/* ---------------------------------------------------------- */

@import "./cards/cards.css";
@import "./cards/gallery.css";
@import "./cards/blockquote.css";
@import "./cards/bookmark.css";

/* Utilities
/* ---------------------------------------------------------- */

@import "tailwindcss/utilities";

/* Layout
/* ---------------------------------------------------------- */

@import "./layout/header.css";
@import "./layout/sidebar.css";
@import "./layout/footer.css";

/* Variants
/* ---------------------------------------------------------- */
/* @import "tailwindcss/variants"; */
