%font-sans {
  @apply font-sans;
}

%inset-image {
  @apply inset-0 object-center object-cover absolute w-full h-full;
}

%card {
  background: var(--card-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
  overflow: hidden;
}
