.author {
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
  min-height: 400px;

  // a {
  //   color: rgba(0, 0, 0, .8);
  //   &:hover {
  //     color: rgba(0, 0, 0, .6);
  //   }
  // }

  &-wrap {
    z-index: 2;
  }

  &-avatar {
    height: 80px;
    margin-right: 10px;
    width: 80px;
  }

  &-meta {
    span {
      display: inline-block;
      font-size: 17px;
      font-style: italic;
      margin: 0 25px 16px 0;
      opacity: .8;
      word-wrap: break-word;
    }
  }

  &-name { color: rgba(0,0,0,.8)}

  &-bio {
    max-width: 600px;
    // color: rgba(0, 0, 0, .6);
  }
}


.author.has--image {
  color: #fff !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, .33);

  .author-link:hover { opacity: 1 !important }

  .u-accentColor--iconNormal { fill: #fff; }

  a,
  .author-name { color: #fff; }

  .author-follow a {
    border: 2px solid;
    border-color: hsla(0, 0%, 100%, .5) !important;
    font-size: 16px;
  }

}

@media #{$md-and-down} {
  .author-meta span { display: block; }
}
