// entry by line
.entry {
  &-author {
    // display: table-cell;
    line-height: 1.2;
    padding-left: 10px;
    // vertical-align: middle;

    // a { @extend %link, %link--accent;}
  }

  // author avatar
  // &-avatar { display: table-cell; }
  &-avatar--img {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    &.no-avatar { background-image: url('../images/avatar.png') !important}
  }

  // not has image
  &.not--image {
    color: rgba(0, 0, 0, .8);
  }
}

// entry Global
.entry.u-card {
  .entry-image {
    max-height: 240px;
    max-width: 360px;
  }
}

// Entry or post (author and tag) page
// ==========================================================================

// if post is featured
.entry.entry--featured {
  .entry-body { display: flex; flex-direction: column; }

  .entry-image {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 100%;
    order: -1;
  }

  .entry-image--link {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// even entry
.entry.entry--featured,
.entry.even:not(.entry--featured) {
  .entry-excerpt {
    color: rgba(0, 0, 0, .44);
    font-family: $primary-font;
    font-size: 23px;
    letter-spacing: -.022em;
    line-height: 1.22;
  }
}

// Media Query
@media #{$md-and-down} {
  .entry {
    border-bottom: 1px solid rgba(0, 0, 0, .0785);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .entry-avatar--img {
    height: 32px;
    width: 32px;
  }
}
