// Collection Header
// ==========================================================================
.cHeader {
  height: 250px;
  padding: 20px 0;

  &-logo-link { height: 50px; }
  &.not-logo .cHeader-logo-link { height: auto; }

  &-des {
    letter-spacing: -.02em;
    line-height: 1.4;
    margin-top: 20px;
    max-width: 650px;
  }
}

.cHeader-logo-link img,
.nav-logo img { max-height: 100% }

// Nav
// ==========================================================================
.nav {
  height: $header-height;
  position: relative;
  top: 0;
  z-index: 20;

  &.nav-up { transform: translateY(-100%) }
  &.has-sticky { position: sticky; transition: transform .3s; }
  &-logo { height: 30px; }
  &-left { margin-right: 20px }

  &-wrap {
    height: $header-height;

    &.sticky {
      position: fixed;
      top: 0;
    }
  }
}

.follow > a {
  padding: 10px 7px;
}

// Menu
.nav-menu {
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }

  li {
    a {
      padding: 10px;
      text-transform: uppercase;
    }
    &:first-child a { padding-left: 0 }
  }
}

// stylelint-disable-next-line
.nav-right a, .nav ul li a {
  color: #bbf1b9;
  &:hover { color: #fff } // stylelint-disable-line
}

// Menu - Toggle
.menu-toggle {
  height: 48px;
  margin-right: -$container-gutter-width;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $header-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// Media Query
@media #{$lg-and-down} {
  .nav-left { flex: 1 1 auto }

  // show menu mobile
  body.is-showNavMob {
    overflow: hidden;

    .sideNav { transform: translateX(0) }

    .menu-toggle {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .nav .search-toggle { display: none; }
    .main, .footer { transform: translateX(-25%); }
  }
}
