// Header
// ==========================================================================

.header {
  z-index: 80;

  &-wrap { height: 55px; }

  &-logo {
    color: #fff !important;
    height: 30px;

    img { max-height: 100%; }
  }

  &-logo,
  .button-search--open,
  .button-nav--toggle { z-index: 150; }

  // header description home page
  &-description {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -.02em;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 650px;
  }
}

// not have logo
.not-logo .header-logo { height: auto !important }

// Header Follow
// ==========================================================================

.follow > a { padding-left: 15px }

// Header menu
// ==========================================================================

.nav {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
  }

  li {
    float: left;

    a {
      font-weight: 600;
      margin-right: 22px;
      text-transform: uppercase;
    }
  }
}

.button-search--open {
  padding-right: 0 !important;
}

// button-nav
.button-nav--toggle {
  height: 48px;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $header-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// Media Query
// ==========================================================================

@media #{$md-and-up} {
  body.is-home {
    .header {
      &-wrap { height: 200px; }

      &-logo {
        height: 50px;
      }
    }
  }

  // Main Menu Fixed
  // ==========================================================================
  // .mainMenu--affixed {
  //   position: fixed;
  //   top: 0;
  // }
}

// Header menu
// ==========================================================================
@media #{$md-and-down} {
  .header {
    position: fixed;

    &-wrap { height: $header-height-mobile }
  }

  .header-logo--wrap { text-align: left }

  .header-top {
    display: flex;
    align-items: center;
  }

  // show menu mobile
  body.is-showNavMob {
    overflow: hidden;

    .sideNav { transform: translateX(0); }

    .button-nav--toggle {
      border: 0;
      transform: rotate(90deg);

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }

    .header .button-search--toggle { display: none; }
    .main, .footer { transform: translateX(-25%); }
  }
}
