.cover-lazy {
  opacity: .5;
  z-index: 2;
}


// Home Page Styles
// ==========================================================================

// .homePage {
//   .entry {
//     .u-backgroundDark { display: none; }
//     &-image { height: 172px; }
//   }
// }


// @media #{$md-and-up} {
//   .homePage {
//     .entry {
//       &-image { height: 174px; }

//       &.entry1,
//       &.entry7 {
//         flex-basis: 100%;
//         max-width: 100%;
//       }

//       // first post with img 66%
//       &.entry1 {
//         display: flex;

//         .entry-image {
//           height: 350px;
//           margin-right: 15px;
//           width: 66.66666667% !important;
//         }
//         .entry-title {font-size: 36px !important}
//         .entry-body {
//           padding: 0 0 0 13px;
//           width: 33.33333333% !important;
//         }
//       }

//       // entry full with background all
//       &.entry7 {
//         .entry-image {height: 450px;}
//         .entry-title {font-size: 44px !important}
//         .entry-excerpt { font-size: 24px; line-height: 1.3;}
//         .u-accentColor--iconNormal { fill: #fff; }
//       }

//       &.entry7,
//       &.entry13,
//       &.entry14 {
//         .u-backgroundDark { display: block; }

//         .entry-body {
//           bottom: 0;
//           left: 0;
//           margin: 30px 40px;
//           max-width: 600px;
//           position: absolute;
//           z-index: 2;
//         }

//         &:not(.not--image) {
//           .entry-body {color: #fff;}
//           .entry-author {
//             color: rgba(255, 255, 255, .9);
//             a, .entry-date {color: rgba(255, 255, 255, .9); }
//           }
//         }
//       }

//       &.entry13, &.entry14 {
//         .entry-image {height: 450px;}
//         .entry-title {font-size: 32px !important}
//         .entry-excerpt {display: none;}
//         .entry-byline {margin-top: 20px;}
//         .entry-body {max-width: 400px;}
//       }


//       // entry 50%
//       &.entry5, &.entry6, &.entry11, &.entry12 {
//         flex-basis: 50%;
//         max-width: 50%;
//         .entry-image { height: 274px;}
//       }

//       // entry 13
//       &.entry13 {
//         flex-basis: 60%;
//         max-width: 60%;
//         padding-right: 0;
//       }

//       // entry 14
//       &.entry14 {
//         flex-basis: 40%;
//         max-width: 40%;
//       }

//     }
//   }
// }
