.ne {
  &-inner {
    padding: 9vw 0 30px;
    min-height: 200px;
  }

  // title
  &-t {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: $primary-color;

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 105%;
      height: 20px;
      background: $primary-color;
      opacity: .2;
      z-index: -1;
    }
  }

  // excerpt
  &-e {
    margin-top: 40px;
    font-family: $secundary-font;
    font-size: 1.625rem;
  }

  &-body {
    ul li { margin-bottom: 8px; font-size: 1rem }

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      transform: translateX(-50%) rotate(49deg);
      height: 15vw;
      background: #55d17e;
      opacity: .2;
      bottom: 35vw;
      width: 43%;
    }

    &::after {
      bottom: 30vw;
      width: 48%;
    }
  }
}

// Godo Newsletter Form
.godo-ne {
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin: 40px auto 30px;
  max-width: 600px;
  padding: 30px 50px 40px 50px;
  position: relative;
  transform: scale(1.15);
  width: 85%;

  &-form {
    width: 100%;

    label {
      display: block;
      margin: 0 0 15px 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      color: $primary-color;
    }

    small {
      display: block;
      margin: 15px 0 0;
      font-size: 0.8125rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7)
    }

    &-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-input {
    border-radius: 3px;
    border: 1px solid #dae2e7;
    color: #55595c;
    font-family: $primary-font;
    font-size: 0.9375rem;
    height: 37px;
    line-height: 1em;
    margin-right: 10px;
    padding: 0 12px;
    transition: border-color .15s linear;
    user-select: text;
    width: 100%;

    &.error {
      border-color: #e16767;
    }
  }

  &-button {
    background: rgba(0, 0, 0, .84);
    border: 0;
    color: #fff;
    fill: #fff;
    flex-shrink: 0;

    &:hover { background: $primary-color; color: #fff }
  }

  &-success {
    text-align: center;
    h3 { margin-top: 20px; font-size: 1.4rem; font-weight: 600 }
    p { margin-top: 20px; font-size: 0.9375rem; font-style: italic }
  }
}

// Godo Newsletter Quotes
.godo-n-q {
  display: flex;
  margin: 2vw 0;
  position: relative;
  z-index: 2;

  blockquote {
    border: 0;
    font-family: $secundary-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5em;
    margin: 20px 0 0 0;
    opacity: 0.8;
    padding: 0;
  }

  img {
    border-radius: 100%;
    border: #fff 5px solid;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .18);
    display: block;
    height: 105px;
    width: 105px;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0 0 0;
  }

  &-i {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 0 20px 40px;
    text-align: center;
  }

  &-d {
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: 6px 0 0 0;
    text-transform: uppercase;
  }
}

//  media Query
@media #{$md-and-down} {
  .godo-ne-input { margin: 0 0 10px }
  .godo-ne-form-group { flex-direction: column }
  .godo-ne-button { width: 100%; margin-bottom: 5px }
  .ne-t { font-size: 3rem }
  .ne-e { font-size: 1.2rem }
}
