// Search
// ==========================================================================
.search {
  background-color: #fff;
  bottom: 100% !important;
  height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: all .3s;
  visibility: hidden;
  z-index: 50;

  &-form {
    max-width: 680px;
    margin-top: 80px;

    input {
      border: none;
      display: block;
      height: 80px;
      font-size: 3rem;
      border-bottom: 1px solid rgba(0, 0, 0, .15);

      &:focus { outline: 0; }
    }
  }

  // result
  &-results {
    max-height: calc(100% - 100px);
    max-width: 680px;
    overflow: auto;

    a {
      padding: 10px 20px;
      background: rgba(0, 0, 0, .05);
      color: rgba(0, 0, 0, .7);
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #fff;
      transition: all 0.3s ease-in-out;

      &:hover { background: rgba(0, 0, 0, 0.1) }
    }
  }
}

// Search close
.sa-close {
  width: 45px;
  height: 45px;
  top: 38px;
  right: 30px;
  cursor: pointer;

  span {
    background-color: #000;
    height: 1px;
    position: absolute;
    width: 140%;
    bottom: 0;
  }

  &--left {
    transform: rotate(45deg) rotateY(0);
    transform-origin: bottom right;
    right: 0;
  }

  &--right {
    transform: rotate(-45deg) rotateY(0);
    transform-origin: bottom left;
    left: 0;
  }

  &:hover { opacity: .5; }
}

body.is-search {
  overflow: hidden;

  .search {
    bottom: 0 !important;
    height: 100%;
    transition: all .3s;
    visibility: visible;
  }
}

@media #{$md-and-down} {
  .search-form {
    margin-top: 0;

    input {
      height: 50px;
    }
  }

  .sa-close {
    top: 12px;
    width: 24px;
    height: 24px;
    right: 12px;
  }
}
