// Search
// ==========================================================================
.search {
  background-color: #fff;
  bottom: 100% !important;
  height: 0;
  overflow: hidden;
  padding: 0 40px;
  transition: all .3s;
  visibility: hidden;
  z-index: 9999;

  &-form {
    max-width: 680px;
    margin-top: 80px;

    &::before {
      background: #eee;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    input {
      border: none;
      display: block;
      line-height: 40px;
      padding-bottom: 8px;

      &:focus { outline: 0; }
    }
  }

  // result
  &-results {
    max-height: calc(90% - 100px);
    max-width: 680px;
    overflow: auto;

    a {
      border-bottom: 1px solid #eee;
      padding: 12px 0;

      &:hover { color: rgba(0, 0, 0, .44) }
    }
  }
}

.button-search--close {
  position: absolute !important;
  right: 50px;
  top: 20px;
}

body.is-search {
  overflow: hidden;

  .search {
    bottom: 0 !important;
    height: 100%;
    transition: all .3s;
    visibility: visible;
  }
}
