.sidebar {
  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, .0785);
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  // border for post
  &-border {
    border-left: 3px solid $primary-color;
    bottom: 0;
    color: rgba(0, 0, 0, .2);
    font-family: $secundary-font;
    left: 0;
    padding: 15px 10px 10px;
    top: 0;
  }
}

.sidebar-post {
  &:nth-child(3n) { .sidebar-border { border-color: darken(orange, 2%); } }
  &:nth-child(3n+2) { .sidebar-border { border-color: #26a8ed } }

  &--title {
    line-height: 1.1;
  }

  &--link {
    background-color: #fff;
    min-height: 50px;
    padding: 15px 15px 15px 55px;
    &:hover { .sidebar-border {background-color: rgba(229,239,245,1);}  }

  }
}
