// Points for divider
.points {
  font-size: 1rem;
  padding-right: .3em;
  padding-left: .3em;
  &::before { content: '\00B7' }
}

// Avatar Image
.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  height: 36px;
  width: 36px;

  &.img-md {
    height: 60px;
    width: 60px;
  }
}

.simply-lazy { transition: all .5s ease-in-out }

// Story
// ==========================================================================

.story {
  margin-bottom: 40px;

  &-title { line-height: 1.1 }
  &-excerpt { margin-top: 7px; color: rgba(0, 0, 0, .54) }
  &-gradient { display: none }
  &-image { height: 170px }
  .not-image { background-image: url('../images/not-image.jpg') }

  &-icon-featured {
    background-color: rgba(0, 0, 0, .05);
    bottom: 16px;
    font-size: 22px;
    left: 16px;
    line-height: 1;
    padding: 2px;
  }

  &-tag {
    color: rgba(0, 0, 0, .84);
    letter-spacing: .028em;
    margin-bottom: 7px;
  }

  &:hover .simply-lazy { transform: scale(1.03) }
}

// Clases for Meta
// ==========================================================================
.hh {
  line-height: 1.4;
  margin-bottom: 15px;

  &-right { padding-left: 10px }
  &-fb { background-color: #3b5998 }
  &-tw { background-color: #55acee }

  &-follow {
    margin-left: 10px;
    vertical-align: text-bottom;

    &:hover {
      .hh-follow-show { display: inline-block !important }
      .hh-follow-toggle { display: none }
    }
  }

  &-btn {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    vertical-align: text-bottom;

    i { margin-right: 3px }
  }
}

// Story Card
// ==========================================================================
.card {
  &-title {
    font-size: 1.625rem;
    line-height: 1.04;
  }

  &-excerpt {
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.004em;
    line-height: 1.3;
    padding-top: 10px;
  }

  &-image {
    max-height: 200px;
    max-width: 360px;
  }
}

// Story Card Small
// ==========================================================================
.cr {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .04);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
  margin-bottom: 30px;

  &-img { height: 160px }

  &-inner {
    justify-content: space-between !important;
    flex-grow: 1;
  }

  // &-tag {
  //   color: rgba(0, 0, 0, 0.84);
  //   letter-spacing: .028em;
  //   margin-bottom: 7px;
  // }

  &-t {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.1;
    max-height: 2.3em;
    text-overflow: ellipsis;
    margin-bottom: 8px;
  }

  // &:hover .simply-lazy { transform: scale(1.03) }
}

// Card Post
.uu {
  .card-image {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 100%;
    order: -1;
  }

  .card-img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// Media Query
@media #{$md-and-down} {
  .story {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

@media #{$md-and-up} {
  .story {
    &-excerpt {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      max-height: 3.5em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media #{$lg-and-up} {
  // large story - home page
  .ss1 {
    .story {
      display: flex;

      &-title { font-size: 2.125rem }

      &-image {
        height: 350px;
        margin-right: 15px;
        width: 66.66666667%;
      }

      &-body {
        padding: 0 0 0 13px;
        width: 33.33333333%;
      }
    }
  }

  // medium story - home page
  .ss2 {
    .story {
      &-image { height: 270px }
      &-title { font-size: 1.625rem }
    }
  }

  // large stoy background - home page
  .ss3 {
    .story {
      &-gradient { display: block }
      &-image { height: 450px }
      &-title { font-size: 2.75rem }
      &-icon-featured { display: none }

      &-title,
      &-excerpt,
      &-author > div,
      &-author a,
      &-tag { color: #fff !important }

      &-excerpt {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.3;
        max-height: 4em;
      }

      &-body {
        bottom: 0;
        left: 0;
        margin: 30px 20px;
        max-width: 600px;
        position: absolute;
        z-index: 2;
      }
    }
  }
}
