.is-subscribe .footer {
  background-color: #f0f0f0;
}

.subscribe {
  min-height: 80vh !important;
  height: 100%;
  background-color: #f0f0f0 !important;

  &-card {
    background-color: #D7EFEE;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    border-radius: 4px;
    width: 900px;
    height: 550px;
    padding: 50px;
    margin: 5px;
  }

  form {
    max-width: 300px;
  }

  &-form {
    height: 100%;
  }

  &-input {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #cc5454;
    border-radius: 0;
    padding: 7px 5px;
    height: 45px;
    outline: 0;
    font-family: $primary-font;

    &::placeholder {
      color: #cc5454;
    }
  }

  .button {
    background: #029e74;
    border-color: #029e74;
    color: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
    font-size: 17px !important;
  }

  .main-error {
    color: #cc5454;
    font-size: 16px;
    margin-top: 15px;
  }
}

// Success
.subscribe-success {
  .subscribe-card {
    background-color: #E8F3EC;
  }
}

@media #{$md-and-down} {
  .subscribe-card {
    height: auto;
    width: auto;
  }
}
