// Full Color Change
@mixin colorFull($theme) {
  // Header - menu
  // .u-bgheader { background-color: map-get($theme, header-bg-color) }

  // .u-menu-color a {
  //   color: map-get($theme, header-color)
  // }

  .menu-burger span { background-color: map-get($theme, header-color) }

  .u-menu-color a:hover,
  .u-menu-color a.nav-current {
    color: map-get($theme, primary-color) !important
  }

  .link-more {
    color: map-get($theme, primary-color);

    &:hover { color: darken(map-get($theme, primary-color), 25%) }
  }

  .menu-burger:hover span { background-color: map-get($theme, primary-color) }

  // .header-logo { color: map-get($theme, header-logo-color) }

  // Subscribe header
  .subscribeBanner { background: lighten(map-get($theme, primary-color), 35%) }

  // Global
  .subscribeBanner h4::after,
  .u-underline::after {
    background-color: map-get($theme, primary-color);
  }

  .text-success,
  .secondaryMenu .nav li a.nav-current,
  .secondaryMenu .nav li a:hover,
  .godo-ne-form label,
  .kg-bookmark-publisher,
  .godo-n-q-d {
    color: map-get($theme, primary-color);
  }

  // Link post
  /* stylelint-disable-next-line */
  .post-body a:not(.kg-bookmark-container):not(.button) {
    color: map-get($theme, color-link);

    &:hover {
      border-bottom-color: map-get($theme, color-link);
    }
  }

  // Buttons
  .button--success {
    background-color: map-get($theme, primary-color);
    border-color: map-get($theme, primary-color);

    &:hover {
      background-color: darken(map-get($theme, primary-color), 15%);
      border-color: darken(map-get($theme, primary-color), 15%);
    }
  }

  .button--outline-success {
    border-color: map-get($theme, primary-color);
    color: map-get($theme, primary-color);

    &:hover {
      border-color: map-get($theme, primary-color);
      background-color: map-get($theme, primary-color);
    }
  }

  // Primary Color button
  // @if map-has-key($theme, button-primary) {
  //   .button--primary {
  //     color: map-get($theme, button-primary);
  //     border-color: map-get($theme, button-primary)
  //   }
  // }

  // Mark in Post
  @if map-has-key($theme, mark-color) {
    mark { background-image: map-get($theme, mark-color) }
  }
}
