/* stylelint-disable */
$primary-color: #6ac8cf;

$theme: (
  primary-color: $primary-color,

  header-bg-color: $primary-color,
  header-color: #116468,
  header-color-hover: #fff,
  header-colo-logo: #fff,

  color-link: #277d83,

  button-primary: #277d83,

  newsletter-color: #36aeb7,
  newsletter-color-bg: #6bc9d0,

  podcast-button: #277d83,

  // subscribe-color-btn: red,
  // subscribe-color-btn-hover: blue,

  mark-color: linear-gradient(180deg,#dff6f8,#dff6f8)
);

@import "mixin-themes";

@include colorFull($theme);
