/* stylelint-disable */
$primary-color: #000;

$theme: (
  primary-color: $primary-color,

  header-bg-color: $primary-color,
  header-color: #b1aeae,
  header-color-hover: #fff,
  header-colo-logo: #fff,

  // color-link: #2b53a8,

  // button-primary: #2b53a8,

  newsletter-color: rgba(0,0,0,.84),
  newsletter-color-bg: #b1aeae,

  // podcast-button: #2b53a8,

  // subscribe-color-btn: red,
  // subscribe-color-btn-hover: blue,

  // mark-color: linear-gradient(180deg,#dff6f8,#dff6f8)
);

@import "mixin-themes";

@include colorFull($theme);
