/* stylelint-disable */
$primary-color: #d25704;

$theme: (
  primary-color: $primary-color,

  header-bg-color: $primary-color,
  header-color: #ffc79e,
  header-color-hover: #fff,
  header-colo-logo: #fff,

  color-link: #b34e11,

  button-primary: #b34e11,

  newsletter-color: #e1712e,
  newsletter-color-bg: #d58b59,

  podcast-button: #d25704,

  // subscribe-color-btn: red,
  // subscribe-color-btn-hover: blue,

  mark-color: linear-gradient(180deg,#ffe1c2,#ffe1c2)
);

@import "mixin-themes";

@include colorFull($theme);
