/* stylelint-disable */
$primary-color: #d25704;
$accent-color: #102B7B;

$theme: (
  primary-color: $primary-color,
  button-primary: #102B7B,
  color-link: $primary-color,
  mark-color: linear-gradient(180deg,#ffe1c2,#ffe1c2)
  // header-bg-color: $primary-color,
  // header-color: #ffc79e,
  // header-color-hover: #fff,
  // header-colo-logo: #fff,
);

@import "mixin-themes";

@include colorFull($theme);

.u-primaryGradient { background: linear-gradient(135deg, rgba($accent-color, .7), rgba($primary-color, .5)) }
