/* stylelint-disable */
$primary-color: #8da7d5;

$theme: (
  primary-color: $primary-color,

  header-bg-color: $primary-color,
  header-color: #dce6fa,
  header-color-hover: #fcffff,
  header-colo-logo: #fff,

  color-link: #8da7d5,

  button-primary: #8da7d5,

  newsletter-color: #8da7d5,
  newsletter-color-bg: #8da7d6,

  podcast-button: #8da7d5,

  subscribe-color-btn: #8da7d5,
  subscribe-color-btn-hover: #9db5df,

  mark-color: linear-gradient(180deg,#ebf1ff,#ebf1ff)
);

@import "mixin-themes";

@include colorFull($theme);
