/* stylelint-disable */
$primary-color: #c43235;

$theme: (
  primary-color: $primary-color,

  header-bg-color: $primary-color,
  header-color: #ffbbb4,
  header-color-hover: #fff,
  header-colo-logo: #fff,

  color-link: #c53236,

  button-primary: #c53236,

  newsletter-color: #c53236,
  newsletter-color-bg: rgba(197,50,54,.46),

  podcast-button: #c53236,

  // subscribe-color-btn: red,
  // subscribe-color-btn-hover: blue,

  mark-color: linear-gradient(180deg,#ffdcd6,#ffdcd6)
);

@import "mixin-themes";

@include colorFull($theme);
