/* stylelint-disable */
$primary-color: #c43235;
$accent-color: #102B7B;

$theme: (
  primary-color: $primary-color,
  button-primary: #102B7B,
  color-link: #c53236,
  mark-color: linear-gradient(180deg,#ffdcd6,#ffdcd6),
  header-bg-color: $primary-color,
  //   header-color: #116468,
  //   header-color-hover: #fff,
);

@import "mixin-themes";

@include colorFull($theme);

.u-primaryGradient { background: linear-gradient(135deg, rgba($accent-color, .7), rgba($primary-color, .5)) }
