// 01. Variables
// -----------------------------------------------------------------------------
// font default page and titles
$primary-font: 'Rubik', Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

// font for content
$secondary-font: 'Domine', Mercury SSm A,Mercury SSm B,Georgia,serif;

$header-height: 50px;

$primary-color: #212529;
$secondary-color: #6C757D;
$complementary-color: #00a562;
$title-color: #111;

// .u-bgColor { background-color: $primary-color }

@import "node_modules/normalize.css/normalize";

%primary-font {
  font-family: $primary-font;
}

%secondary-font {
  font-family: $secondary-font;
}

// 02. Utilities
// -----------------------------------------------------------------------------
.u-flexCenter { align-items: center; display: flex; }
.u-block { display: block }
.u-relative { position: relative }
.u-overflowHidden { overflow: hidden }
.u-fontSizeSmaller { font-size: 14px }
.u-flex1 { flex: 1 1 auto }
.u-absolute { position: absolute }
.u-textCenter { text-align: center }
.u-marginTop30 { margin-top: 30px; }

.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

// 03. Global
// -----------------------------------------------------------------------------

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @extend %primary-font;

  // font-family: $primary-font;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: $primary-color;
}

a {
  color: $complementary-color;
  text-decoration: none;
  word-break: break-word;

  &:active,
  &:hover {
    outline: 0;
  }
}

blockquote {
  border-left: 4px solid $primary-color;
  font-size: 18px;
  font-style: italic;
  margin-left: -5px;
  margin-right: 0;
  padding-bottom: 2px;
  padding-left: 20px;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  object-position: center
}

figcaption {
  @extend %primary-font;

  color: $secondary-color;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

// 05.typography - Titles
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  @extend %primary-font;

  color: $title-color;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 25px 0 0;
  word-break: break-word;
}

h1 { font-size: 2rem }
h2 { font-size: 1.75rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.375rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1.125rem }

strong { font-weight: 700 }
p { margin: 20px 0 0 0 }

// 06. <hr> <Mark>
// -----------------------------------------------------------------------------

hr {
  box-sizing: content-box;
  height: 0;
  margin: 1rem 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

mark {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(215, 253, 211, 1), rgba(215, 253, 211, 1));
  color: rgba(0, 0, 0, .8);
}

// 07. Code and pre
// -----------------------------------------------------------------------------

// colors
$whitegrey : #e5eff5;
$darkgrey : #2a3644;

code,
pre {
  font-family: Menlo, Courier, monospace;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

p code {
  background: $darkgrey;
  border-radius: 2px;
  color: $whitegrey;
  padding: 1px 6px;
  font-size: 14px;
}

pre {
  overflow-x: auto;
  margin: 0;
  padding: 20px;
  border: none;
  color: $whitegrey;
  font-size: 14px;
  line-height: 1.6em;
  background: $darkgrey;

  code {
    padding: 0;
    background: transparent;
  }
}

// 08. Svg
// -----------------------------------------------------------------------------

svg {
  width: 100%;
  height: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

// 09. Table
// -----------------------------------------------------------------------------
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  margin: 20px 0 0;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  -webkit-overflow-scrolling: touch;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

// 10. Header
// -----------------------------------------------------------------------------
.header {
  position: relative;
  width: 100%;
  height: $header-height;
  line-height: 1;
}

// .blog-title {
//   height: 50px;
//   line-height: 0;
// }

.logo-link {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

// 11. Social Media
// -----------------------------------------------------------------------------
.social-media {
  a {
    background: $primary-color;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 36px;
    margin: 0 2px;
    padding: 8px;
    vertical-align: middle;
    width: 36px;
  }

  svg {
    fill: #fff;
    stroke: none;
  }
}

// 12. Sidebar or Sidenav
// -----------------------------------------------------------------------------

.sidebar {
  width: 280px;
  background: #fff;

  ul {
    list-style: none;
    list-style-image: none;
    margin: 18px 0 20px;
    padding: 0;
  }

  ul li a {
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1rem;
    display: block;
  }

  .social-media { padding: 20px; border-top: 1px solid #ddd }
}

.close-sidebar {
  height: $header-height;
  font-size: 25px;
  line-height: $header-height;
  text-align: right;
  padding-right: 20px;
  color: #fff;
}

// Btn menu
.hamburgermenu {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 48px;
  position: relative;
  transition: transform .4s;
  width: 48px;
  margin-right: -15px;

  span {
    background-color: #fff;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

//  13. Content Main
// -----------------------------------------------------------------------------

.main {
  max-width: 500px;
  margin: 0 auto;
}

// 14. Article
// -----------------------------------------------------------------------------

.article {
  padding-top: 25px;

  &-title { margin-top: 0 }

  &-excerpt {
    @extend %secondary-font;

    margin-bottom: 20px;
    margin-top: 15px;
    color: $secondary-color;
    font-size: 20px;
    line-height: 1.4;
  }
}

.article-meta {
  color: $secondary-color;
  margin: 15px 0;
  font-size: 14px;
}

.article-body {
  font-family: $secondary-font;
  line-height: 1.7em;
  font-size: 18px;
  padding: 20px 1rem;

  & > * { margin-bottom: 28px }

  /* stylelint-disable-next-line */
  a:not(.kg-bookmark-container) {
    word-break: break-word;
    text-decoration: underline;
  }

  ul, ol {
    padding-left: 20px;

    li { margin-bottom: 5px; }
  }
}

// 15. Buttons for Tag
// -----------------------------------------------------------------------------

.button--tags {
  border-radius: 3px;
  color: $primary-color;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  line-height: 35px;
  margin: 0 8px 8px 0;
  padding: 0 10px;
  border: 2px solid $primary-color;

  &::before { content: '#'; }
}

// 16. Share
// -----------------------------------------------------------------------------

.share-title {
  display: block;
  margin-bottom: 8px;
}

// stylelint-disable
amp-social-share.custom-style {
  background-color: #008080;
  background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/social/1x_web/ic_share_white_48dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

amp-social-share.rounded {
  border-radius: 10%;
  background-size: 85%;
}
// stylelint-enable

// 17. Related Article
// -----------------------------------------------------------------------------

.related {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 20px;
  background: #efefef;

  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: $primary-color;
    font-weight: 500;
    font-size: 20px;
  }
}

.story {
  // padding-bottom: 2px;
  &-border {
    border-left: 3px solid #CC116E;
    bottom: 0;
    color: rgba(0, 0, 0, .2);
    font-size: 36px;
    font-weight: 700;
    left: 0;
    padding: 15px 10px 10px;
    top: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #888;
  }

  &:nth-child(3n) { .story-border { border-color: darken(orange, 2%); } }
  &:nth-child(3n+2) { .story-border { border-color: #26a8ed } }

  &-link {
    background-color: #fff;
    border-bottom: 1px solid #e2e0e0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
    min-height: 50px;
    padding: 15px 15px 15px 55px;
  }

  &-title {
    color: $primary-color;
    line-height: 1.2;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
  }
}

// 18. Bookmark card
// -----------------------------------------------------------------------------
.kg-bookmark {
  &-container {
    @extend %primary-font;

    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-content {
    padding: 20px;
    order: 1;
  }

  &-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.125rem;
  }

  &-description {
    color: $secondary-color;
    line-height: 1.4;
    margin-top: 10px;
    font-size: 0.875rem;
  }

  &-metadata {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 10px;
  }

  &-icon { margin-right: 5px }

  &-author::after {
    content: "•";
    margin: 0 6px;
  }
}

// 19. Footer
// -----------------------------------------------------------------------------
.footer {
  background-color: #efefef;
  color: rgba(0, 0, 0, .44);
  padding-top: 20px;
  font-size: 15px;
  padding-bottom: 45px;
}
