<div class="text-sm footer-copy min-w-60 lg:flex lg:items-center lg:text-left lg:order-first">
    <div>
        &copy; {{date format="YYYY"}} {{@site.title}}. {{t "Design by"}}
        <a href="https://godofredo.ninja" class="hover:opacity-80" title="Developer FullStack.">GodoFredo</a>
    </div>
</div>