{{#if @site.members_enabled}}{{#if @custom.show_newsletter}}{{#unless @member}}
<div class="pt-vmin8">
    <div class="p-8 bg-gray-200 rounded">
        {{#if @custom.newsletter_text}}<h2 class="mb-4 text-xl font-bold text-title">{{@custom.newsletter_text}}</h2>{{/if}}
        <a class="flex flex-col justify-between gap-3 md:flex-row md:items-center" href="#/portal" data-portal>
            <div class="border-black h-11 grow input">{{t "Enter your email"}}</div>
            <div class="button is-black h-11">
                <svg class="stroke-current" width="38" height="38" fill="none">
                    <rect x="26.25" y="9.25" width=".5" height="6.5" rx=".25"/>
                    <rect x="29.75" y="12.25" width=".5" height="6.5" rx=".25" transform="rotate(90 29.75 12.25)"/>
                    <path d="M19.5 12.5h-7a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1v-5"/>
                    <path d="M11.5 14.5 19 20l4-3"/>
                </svg>
                <span>{{t "Subscribe"}}</span>
            </div>
        </a>

        <p class="mt-5 text-sm">{{t "No spam. No jibber jabber. Unsubscribe any time."}}</p>
    </div>
</div>
{{/unless}}{{/if}}{{/if}}